[2021-05-18 14:39] megan07 opened #53 "Add Data Source for `Roles` and Resource for `RoleAssignment`"
It'd be nice to create `RoleAssignments` so we can add admin roles to service accounts as explained here: https://github.com/terraform-providers/terraform-provider-google/issues/6704#issuecomment-651285723

This would likely require a data source for `roles` as well.

Something like
[code]

Roles: https://developers.google.com/admin-sdk/directory/reference/rest/v1/roles
RoleAssignements: https://d

[2021-05-18 14:49] megan07 opened #54 "Manage Organizational Units"
Add functionality to manage organizational units (resource and data source)

[code]

OrgUnits: https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits

[2021-05-18 14:57] megan07 opened #55 "Manage Chrome Device Policy"
Add functionality to manage chrome policies (resource)

[code]

ChromePolicy: https://developers.google.com/chrome/policy/reference/rest
More Information:
* https://developers.google.com/chrome/policy/guides/policy-schemas
* https://developers.google.com/chrome/policy/guides/samples_policyapi

From my understanding:
Create/Update - https://developers.google.com/chrome/policy/reference/rest/v1/cust

[2021-05-18 15:05] megan07 opened #56 "Manage Mobile Devices"
Add functionality to retrieve mobile devices (datasource)

[code]

ChromeMobileDevices: https://developers.google.com/admin-sdk/directory/reference/rest/v1/mobiledevices/list
Other Info/Examples: https://developers.google.com/admin-sdk/directory/v1/guides/manage-mobile-devices

[2021-05-18 15:14] megan07 opened #57 "Manage Domain Aliases"
Add functionality to manage domain aliases (resource and data source)

[code]

DomainAliases: https://developers.google.com/admin-sdk/directory/reference/rest/v1/domainAliases

[2021-05-24 20:46] megan07 opened #61 "Add Chrome PolicySchema Data Source"
Add functionality to retrieve chrome policy schema/s (datasource/s) / (GET|LIST)

[code]

ChromePolicy: https://developers.google.com/chrome/policy/reference/rest/v1/customers.policySchemas
More Information:
* https://developers.google.com/chrome/policy/guides/policy-schemas
* https://developers.google.com/chrome/policy/guides/samples_policyapi

[2021-05-26 23:30] #54 closed, assigned to megan07

[2021-06-10 14:50] megan07 commented on #53
Closed by https://github.com/hashicorp/terraform-provider-googleworkspace/issues/53

[2021-06-10 14:50] #53 closed

[2021-06-10 14:53] megan07 opened #72 "Privileges DataSource"
Add something like a privileges datasource. This will require some design work to see how we best want to utilize it.

ChromePolicy: https://developers.google.com/admin-sdk/directory/reference/rest/v1/privileges/list

[2021-06-11 18:44] megan07 opened #75 "Add `posix_accounts` back to the full user test"
Add `posix_accounts` back to the full user https://github.com/hashicorp/terraform-provider-googleworkspace/pull/67

Waiting to hear back from the workspace team the best way to fix it. The code there was wrong, but this code should fix it, and it had the same problem

[code]

[2021-06-14 19:18] discentem opened #78 "Link to provider docs in readme is broken"
### Expected Behavior
The link in this section should work.

https://github.com/hashicorp/terraform-provider-googleworkspace#using-the-provider

### Actual Behavior

https://registry.terraform.io/docs/providers/googleworkspace leads to a 404.

[2021-06-14 20:56] tejavar commented on #78
Hi !

The Google Workspace repo is a technical preview and hasn't officially launched. The link will be active when we officially launch the provider.

[2021-06-15 12:50] #78 closed

[2021-06-16 19:45] appilon commented on #72
closed by #82

[2021-06-16 19:45] #72 closed

[2021-06-23 16:16] ericnorris opened #87 "Feature request: Allow using `GOOGLE_CREDENTIALS` environment variable"
Thanks for releasing this! We're somewhat interested in exploring using this provider while we wait for some updates in the Cloud Identity APIs, but we noticed that it currently uses a different set of environment variables for credentials from the [google](https://github.com/hashicorp/terraform-provider-google) provider.

Is there any chance this provider could support the use of the `GOOGLE_CRED

[2021-06-24 07:43] ari-becker commented on #87
Adding onto this feature request, as somebody who would like to use this provider with Terraform Cloud, we'd like a simple way to drop the Google-provided credentials JSON into either a sensitive environment variable or a sensitive Terraform variable and have it just work.

Because the documentation says that the provider requires a filepath and not the contents of the file itself, this doesn't wo

[2021-06-24 11:09] ari-becker opened #88 "panic: runtime error: invalid memory address or nil pointer dereference"
### Versions
Terraform: `1.0.0`
provider: `0.2.0`

### Affected Resource(s)
- `googleworkspace_schema`

### Terraform Configuration Files
[code]

### Panic Output
[code]

### Steps to Reproduce
`terraform import googleworkspace_schema.aws_session_duration XXX==`, where `XXX==` is the schema ID which I found with the API Explorer: https://developers.google.com/admin-sdk/directory/reference/rest/v1/

[2021-06-24 11:29] ari-becker commented on #88
I noticed that the `schema_name` is supposed to have an underscore in place of the space, so I tried with the underscore and still ran into the issue.

Even with a data resource, I also run into the panic, so it's not specifically an issue with imports:

[code]

[2021-06-24 19:57] megan07 commented on #88
Hi @ari-becker ! I'm sorry you're running into this issue. Unfortunately, I'm unable to reproduce it. Would you be able to provide some debug logs? I'm interested to see what the schema looks like in the response you're getting from the API.
Thanks!

[2021-06-24 20:57] #87 closed

[2021-06-25 20:27] #57 closed

[2021-06-29 09:54] ari-becker commented on #88
It doesn't seem to me that it even is able to send a request to the API endpoint.

[plan-debug-sanitized.txt](https://github.com/hashicorp/terraform-provider-googleworkspace/files/6732411/plan-debug-sanitized.txt)

[2021-06-29 15:48] joe-a-t opened #94 "Upgrade guide from DeviaVir/gsuite"
### Expected Behavior
https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs should contain an upgrade guide with instructions on how to upgrade from `DeviaVir/gsuite` now that https://github.com/DeviaVir/terraform-provider-gsuite is deprecated and tells people to migrate to this new provider.

### Actual Behavior
Unable to find any such instructions or tips on the old or ne

[2021-07-01 08:51] ari-becker commented on #88
hi @megan07 , will you release a `0.2.1` version with the logging transport?
As I'm trying to run this on Terraform Cloud, I'm not sure how to configure my Terraform project to compile the provider from the `main` branch in order to run it on Terraform Cloud.

[2021-07-01 15:09] tejavar commented on #88
Hi @ari-becker !

I'm Tej, a PM for this provider. Firstly, thank you for taking the time to file the issue with us. Megan and the team are working on completing this for our 0.3.0 release ECD 07/06.
Please let us know if you have any concerns regarding our timeline, we would be more than happy to assist you !

Thanks,
Tej

[2021-07-02 18:47] #94 closed

[2021-07-02 20:44] joe-a-t commented on #94
Hey @megan07, thanks a lot for the quick response. I noticed [group_settings#who_can_approve_members](https://registry.terraform.io/providers/DeviaVir/gsuite/latest/docs/resources/group_settings#who_can_approve_members) (which was marked as deprecated in DeviaVir/gsuite docs but not emitting warnings) is not present in this new provider so it would be great if that could be noted in https://github

[2021-07-04 23:21] ken5scal opened #101 "Feature Request: Google Drive Sharing Setting"
Thanks for the awesome repository.
I would like to request a support for Google Drive sharing setting described in the following link.
I understand this is new provider; but is the request going to be part of the scope in this repository?

https://support.google.com/a/answer/6085538?hl=ja&ref_topic=2498056&visit_id=637610376070912723-257858886&rd=1

[2021-07-06 14:53] megan07 commented on #94
According to Google's [documentation](https://developers.google.com/admin-sdk/groups-settings/v1/reference/groups#json), this field is not yet deprecated, so I'm assuming the functionality hasn't been merged into `whoCanModerateMembers` yet. As such, I think this is a bug and needs to still be a part of the resource. I'll open a new issue and add that in. Thanks!

[2021-07-06 14:55] megan07 opened #102 "Add `who_can_approve_members` and `who_can_ban_users` to `googleworkspace_group_settings`"
Add `who_can_approve_members` and `who_can_ban_users` to `googleworkspace_group_settings`. These fields were left off as they will be deprecated when their functionality is moved into `who_can_moderate_members`. Looks like we got ahead of ourselves and didn't include them in the resource.

https://github.com/hashicorp/terraform-provider-googleworkspace/issues/94#issuecomment-874831586

[2021-07-06 15:45] megan07 commented on #102
After testing, it looks like the functionality has already been moved, so going back to making a note in the upgrade guide.

[2021-07-06 19:47] appilon opened #104 "Support additional target key policies"
Add support for [additionalTargetKeys](https://developers.google.com/chrome/policy/reference/rest/v1/PolicyTargetKey) which will allow practitioners to configure more policies (currently the `chrome.printers.*` namespace

### Affected Resource(s)
Please list the resources as a list, for example:
- googleworkspace_chrome_policy

### References
Are there any other GitHub issues (open or closed) or P

[2021-07-06 20:01] #102 closed

[2021-07-06 21:38] joe-a-t commented on #94
Hey @megan07, can we actually reopen this? I tried migrating following the upgrade guide which does a great job covering the differences, but it looks like there is a gap in terms of how you adjust the Terraform state for existing resources. Trying to run `terraform state mv` results in
[code]
We cannot destroy and re-create all of the resources so is there a migration path that allows us to avoid

[2021-07-06 22:03] joe-a-t opened #105 "GOOGLEWORKSPACE_CREDENTIALS not reading key when `~` is in the path"
### Terraform Version
`0.15.3`
`hashicorp/googleworkspace v0.2.0`

### Affected Resource(s)
`GOOGLEWORKSPACE_CREDENTIALS` environment variable.

### Terraform Configuration Files
GCP service account key located at `~/.gcloud/keys/googleworkspace.key` on my filesystem and `GOOGLEWORKSPACE_CREDENTIALS=~/.gcloud/keys/googleworkspace.key` set in the environment

### Expected Behavior
Per https://regis

[2021-07-07 15:04] #55 closed

[2021-07-07 15:04] #61 closed

[2021-07-07 15:14] appilon commented on #94
@joe-a-t Unfortunately it's a common painpoint of Terraform (bulk import) but essentially yes, you will need to script this process

[2021-07-07 15:42] joe-a-t commented on #94
Ok, so HashiCorp/Google has no plans to assist in that process by publishing a script or something to do the relevant state manipulation and is instead expecting that all users of the gsuite provider will write their own script to migrate?

[2021-07-07 17:53] megan07 commented on #94
Hi @joe-a-t , thanks for the request and the feedback. I'm going to keep this issue closed as I'd like the upgrade guide to go out with the next release as is. However, I appreciate the request and feedback here, and will open another issue to discuss at our next triage meeting. I'm thinking I'd like to explore an idea of a tool rather than documentation.

We had discussed a similar idea prior to

[2021-07-07 17:59] megan07 opened #106 "Help users migrate resources from the Gsuite provider to Google Workspace provider"
Follows https://github.com/hashicorp/terraform-provider-googleworkspace/issues/94

I'd like to discuss writing a script to help users migrate from the GSuite community provider to the Google Workspace provider. For users who have many resources, bulk import is very painful, it'd be nice if we can contribute to helping them write the script, or creating a tool that will nicely do it for them. This

[2021-07-07 18:06] joe-a-t commented on #94
Thanks a lot. It might be nice to just add a link to that issue to the upgrade guide as a placeholder so that people can better decide if they want to invest the time in investigating an upgrade now or wait for that sort of tool.

[2021-07-07 21:04] megan07 commented on #88
Hi @ari-becker! Sorry for the delay on this. `0.3.0` has now been released. If you wouldn't mind running again and sending the contents of the debug log, I'd love to dive back into this. Thanks! And sorry again!

[2021-07-08 07:35] ari-becker commented on #88
Hi @megan07 , enclosed is the debug output from 0.3.0 (with various identifiers sanitized). Thanks for looking into this

[plan-debug-sanitized.txt](https://github.com/hashicorp/terraform-provider-googleworkspace/files/6782527/plan-debug-sanitized.txt)

[2021-07-08 17:45] megan07 commented on #88
@ari-becker thanks for the debug log! i've got a fix in now.

[2021-07-08 17:48] #88 closed

[2021-07-11 13:25] hxvxt2 opened #110 "Trying to update/modify resources that existed before Terraform was configured"
Hi there,

I'm new to Terraform, I'm trying to figure out a way to update/modify resources (`googleworkspace_user`) that were created before Terraform was configured, but couldn't find any way to do that. And although I believe what I'm trying to do is either incorrect or not supported at this moment (give the provider was released recently, I decided to try it anyway.  Hoping I would get some ins

[2021-07-11 13:36] hxvxt2 commented on #110
I was introduced to `terraform import` by Google. I think it makes sense now.

[2021-07-11 15:26] ken5scal commented on #101
cool, tx for the consideration!

[2021-07-11 15:31] hxvxt2 commented on #110
Ok, so even if I import the resource `googleworkspace_user` I'll have to pass the `password` as a mandatory value. Is there a way to update a `googleworkspace_user` resource without having to pass the `password`?

What am I missing?

Thanks
-v

[2021-07-12 12:52] vikstrous2 opened #111 "googleworkspace_chrome_policy: value provided for managedBookmarks is of incorrect type"
### Terraform Version
`Terraform v0.15.3`

### Affected Resource(s)
- googleworkspace_chrome_policy

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
The resource managed bookmarks policy should be created

### Actual Behavior
error with the formatting of the request

### Steps to Reproduce
1. `terraform apply`

### Important Factoids
I tried a lot of differ

[2021-07-12 14:59] ericnorris opened #112 "Provider requires `impersonated_user_email` even when not needed"
Thanks for the work so far on this provider!

### Terraform Version
N/A

### Affected Resource(s)
`googleworkspace_group_*`

### Terraform Configuration Files
[code]

(`GOOGLE_CREDENTIALS` environment variable is set)

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
The provider should work without `impersonated_user_email` when interacting **only** with `googleworkspace_group_*`

[2021-07-12 19:04] appilon commented on #112
Hi @ericnorris, if I am understanding correctly, you are hoping we can make `impersonated_user_email` optional depending on the resources being used in the particular apply. Unfortunately resource management is handled entirely by Terraform Core, and the provider merely provides a mapping of attributes to requests of the API. It won't be possible for the provider to dynamically change the requirem

[2021-07-12 19:32] ericnorris commented on #112
Hey @appilon, I should have been more clear - I'd like to remove the requirement that `impersonated_user_email` be set, i.e. make it always optional, rather than optional depending on the resources that you use. I'm familiar enough with how `terraform` works to understand why the latter would not be possible.

Setting `impersonated_user_email` implicitly to the value of the service account's email

[2021-07-13 11:27] dwilliams782 opened #113 "Feature request: Security group labels"
Hi, thanks for all the work on this provider, I am just starting out a POC to get this enrolled and it's already a big improvement over the previous unofficial provider.

Security groups are currently in beta, and are set by applying labels to the group:

https://workspaceupdates.googleblog.com/2020/09/security-groups-beta.html

Can this provider be extended to allow group labels?

[2021-07-13 17:57] dwilliams782 opened #114 "googleworkspace_group_settings - Error: timed out while waiting for group settings to be updated"
### Terraform Version
0.14.7

### Affected Resource(s)
- googleworkspace_group_settings

### Debug Output
https://gist.github.com/dwilliams782/41074546edeeb5a989446d6d122f1d34

### Code
The following is a module:

[code]

### Actual Behavior
This request to create a group settings resource is timing out, but the debug logs are showing 200 OK on each request.

[code]

This is inconsistent but has b

[2021-07-14 11:31] dwilliams782 commented on #114
I've settled on using `0.2.0` for now with a short timeout - this seems to be more consistent, and when it reaches the end of the timeout it succeeds rather than fails.

[2021-07-14 15:50] #112 closed

[2021-07-14 16:47] ericnorris commented on #112
Thanks @appilon, appreciate the speedy implementation!

[2021-07-14 18:23] appilon commented on #111
Hello @vikstrous2 It appears to be an oversight in the type validation, working on the fix now

[2021-07-15 12:01] ari-becker commented on #88
Hi @megan07 , @tejavar ,

Any news on when 0.3.1 or 0.4.0 will be released, so that I can actually use the fix in #108 ?

[2021-07-15 14:16] tejavar commented on #88
Hi @ari-becker  !
Thanks for reaching out regarding the issue.
I understand your goal is to fix the indexing issue. At the moment we can't guarantee a 0.3.1 due to our competing priorities however, we are working on 0.4.0 and are confident this issue will be addressed in the release. Please note that currently do not have a set date for the 0.4.0 release but aim to complete in the next two weeks.

[2021-07-15 18:25] #111 closed

[2021-07-16 12:28] sleepyxuras91 opened #117 "Feature Request: Gmail API"
Hi thanks for the great provider

A issue I'm having within a chairty domains I manage on Google Worksapce (previously Gapps for charity)  is to manage Gmail features, the things I would like to able to setup is Aliases in the "Send mail as" setting with ability to set a default as as a admin in the dashboard you can give people a Alias but doing the setup of the "Send mail as" means logging into

[2021-07-16 15:58] appilon commented on #114
it appears the resource was failing to check for an error in v0.2.0, this was corrected in v0.3.0 https://github.com/hashicorp/terraform-provider-googleworkspace/compare/v0.2.0...v0.3.0#diff-3988371d60c5aa9d994043cc3e7457543f5632fe80d4fb9ff434b813c44f8c6dR406

I'm looking into trying to achieve better consistency now

[2021-07-16 17:55] appilon commented on #114
@dwilliams782 is this happening on create or on update? There was a change between 0.2.0 and 0.3.0, where we forgot to check if there was an error, it could be the timeout issue is always present, just failing silently in 0.2.0

[2021-07-19 08:31] dwilliams782 commented on #114
Yes, that sounds correct, however the settings are being applied correctly so I'm OK with failing silently for now rather than not being able to use it at all! Thank you.

[2021-07-19 17:40] ari-becker opened #118 "Required `password` for `googleworkspace_user` has bad UX when importing prior state"
### Terraform Version
1.0.2
provider version: latest master (I built a fake "0.3.1" release for myself)

### Affected Resource(s)
Please list the resources as a list, for example:
- `googleworkspace_user`

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Expected Behavior
The Google API only requires a password when the user does not exist previously, or when intentionally decid

[2021-07-19 20:06] #114 closed

[2021-07-19 20:27] megan07 commented on #110
Closing this as a duplicate of https://github.com/hashicorp/terraform-provider-googleworkspace/issues/118

[2021-07-19 20:27] #110 closed

[2021-07-23 13:52] megan07 commented on #101
Hi @ken5scal! We were hoping to implement this, however, after looking through the available Google Workspace APIs, I don't see this available. Unfortunately, we're limited to the APIs available by Google. If you feel we've made a mistake, please link us to the API documentation and we'll be right on this! For now, I'll keep this open and label it `upstream` so we can check back later to see if it

[2021-07-23 13:58] megan07 commented on #117
Hi @sleepyxuras91! Thanks for the feature request - and for watching Community Office hours!
I believe this is the API you're looking for: https://developers.google.com/gmail/api/reference/rest/v1/users.settings.sendAs

We will give it a shot! Thanks!

[2021-07-23 14:00] sleepyxuras91 commented on #117
Yup that certainly looks a bit more detailed than the API I put in my inital issue. Thanks!

[2021-07-26 15:35] ari-becker opened #121 "`flattenCustomSchemas` does not sort a `googleworkspace_user`'s custom schemas, resulting in permadiff"
### Terraform Version
`terraform`: `1.0.2`
provider: `0.4.0`

### Affected Resource(s)
- googleworkspace_user

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
Stable `terraform plan` after `terraform apply`, showing no changes.

### Actual Behavior
Sometimes (not always) I get a `terraform plan` that looks like this:
(roughly paraphrased

[2021-07-26 21:25] appilon commented on #117
Hi @sleepyxuras91 we are actively working on this feature and have it working for internally created users within the same domain/admin workspace, however I imagine you are looking (as are many others) to add external to google send-as aliases. This requires that SMTP MSA is configured https://developers.google.com/gmail/api/reference/rest/v1/users.settings.sendAs#SendAs (see smtpMsa).

We have ad

[2021-07-27 15:29] #117 closed

[2021-07-27 15:36] sleepyxuras91 commented on #117
Hi @appilon sorry this isn't a use case we have either generally send-as alias' we're setting up are also just internal addresses to give more generic names to emails instead of having personally named emails on advertising so email doesn't get lost when people change roles / leave.

[2021-07-27 20:56] megan07 commented on #88
Hi @ari-becker, sorry for the delay on this. Wanted to let you know that `0.4` has been released now. Thanks for your patience!

[2021-07-27 21:13] #118 closed

[2021-07-28 08:01] ari-becker commented on #121
Updated issue to clarify that this issue is still relevant in `0.4.0`

[2021-07-28 19:46] appilon commented on #105
Hello, it's my understanding that placing the path in quotes `"~/path/to/creds"` means the homedir shortcut path is not expanded by the OS/shell. We thought we had added expansion in the provider as an extra convenience, I'll take a look at what's going on there, but you should be able to get your environment variable working by unquoting the string, allowing the tilde `~` expansion to take place.

[2021-07-28 21:23] #105 closed

[2021-07-29 06:54] brondum opened #127 "Support for Service Account Access Tokens"
## Feature request:
The possibility to use Access tokens instead of service account keys to authenticate with Google Workspace.

## Why:
1. Can generate infinite number of tokens per roleset, service account keys have a maximum of 10 keys per account.
2. Service account keys have infinite lifetime in GCP (i.e. if they are not managed properly, leaked keys can live forever)

### References
The old

[2021-08-05 11:30] halradaideh commented on #127
+

[2021-08-05 15:55] halradaideh opened #130 "googleworkspace_group_settings Request had insufficient authentication scopes."
### Terraform Version
1.0.0

### Affected Resource(s)
- googleworkspace_group_settings

### Terraform Configuration Files
[code]

### Expected Behavior
to run

### Actual Behavior
Request had insufficient authentication scopes

### Steps to Reproduce
1. `terraform apply`

### Important Factoids
BTW I can create groups and add members to groups using the service account

[2021-08-05 16:25] megan07 commented on #130
Hi @halradaideh ! Would you mind trying it with `https://www.googleapis.com/auth/apps.groups.settings` added to the list of scopes? The group settings is a separate API and has a separate scope. Let me know if that still doesn't work and I'll take a deeper look. Thanks!

[2021-08-05 16:29] halradaideh commented on #130
yup worked, please modify documentation :D

[2021-08-08 09:32] ari-becker opened #131 "googleapi: Error 400: Invalid value for: is not a valid value on user creation"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
terraform 1.0.0
provider version 0.4.0

### Affected Resource(s)
- google_workspace.user

### Debug Output
(irrelevant and sensitive bits removed

[2021-08-10 11:43] dwilliams782 opened #132 "Error: googleapi: Error 404: Resource Not Found: <id>, notFound"
Hi,

When a user has been deleted, our entire plan fails due to the group_member resource still being in state:

[code]

I understand why, but until these groups are fully adopted into our JML process, this breaks the terraform plan for all other groups / users. It's not easy to identify which user this is, either.

We have identified the failed user, however the plan still errors due to that user

[2021-08-10 12:30] ari-becker commented on #131
Same error of an empty `type` string found for `emails` when importing and trying to update a user with email aliases:
[code]

[2021-08-10 12:42] ari-becker commented on #131
@megan07 I think I see the bug -

At https://github.com/hashicorp/terraform-provider-googleworkspace/blob/880a3b753aa658b1ebf2ed23ee64a1ddae8be0ff/internal/provider/utils.go#L126 you do check to see whether the value is an empty string, and if so, exclude it from the API request.

However, this code only runs if it passes the check at https://github.com/hashicorp/terraform-provider-googleworkspace

[2021-08-10 12:59] sajid-khan-js commented on #130
@halradaideh @megan07

Even with the additional scope I'm still getting:

[code]

My config:

[code]

I've authenticated with my superadmin account like so: `gcloud auth login --update-adc`

## Service account

I've omitted the use of a GCP service account for now, but if add one to `impersonated_user_email` e.g. `terraform-pipeline@my-tf-project.iam.gserviceaccount.com`, and give it a suitable ad

[2021-08-10 13:12] dwilliams782 opened #134 "Required scopes for data resource googleworkspace_user"
Hi, what scopes are required for the data resource `googleworkspace_user`? I've tried:

[code]

but still get an insufficient scopes error. Thanks!

[2021-08-10 13:18] halradaideh commented on #130
@sajid-khan-js did you added it to workspace deligation client scopes?

[2021-08-10 18:50] sajid-khan-js commented on #130
Ended up actually reading the docs 😆 and noticed this: https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs#authentication

I have mentioned to get it working by using the domain wide delegation method.

@megan07 is there any planned support for https://workspaceupdates.googleblog.com/2020/08/use-service-accounts-google-groups-without-domain-wide-delegation.html in the pro

[2021-08-10 20:50] halradaideh commented on #127
@megan07 is it possible?

[2021-08-11 01:17] jacobstr commented on #132
Finding this may be quite the thorn to work around as well. It'd be nice to have some notion of authoritative group membership vs non-authoritative ala (google_iam_member vs. google_iam_binding).

[2021-08-11 08:31] dwilliams782 commented on #132
I've seen similar patterns with SQL related providers before where, if the user doesn't exist, it simply gets removed from state as part of the plan. That would be sufficient for us; the plan would show one to add, which would then fail on apply as the user doesn't exist so can't be added to the group.

[2021-08-11 14:24] vhatsura commented on #134
@dwilliams782, you need to ask for `https://www.googleapis.com/auth/admin.directory.user.readonly` scope

[2021-08-11 16:40] #131 closed

[2021-08-11 18:58] megan07 commented on #132
@jacobstr - Thanks for the quick response! I've got a fix in for this now. Sorry about that!

[2021-08-11 19:26] #132 closed

[2021-08-13 13:04] sajid-khan-js commented on #130
## No domain wide delegation required :)

Just to update the thread, I did get this working with a service account without having setup domain wide delegation (as per the release notes [here](https://workspaceupdates.googleblog.com/2020/08/use-service-accounts-google-groups-without-domain-wide-delegation.html)).

Essentially: `admin.google.com` > Admin roles > Groups Editor > Assign service accoun

[2021-08-16 09:24] jleclanche opened #138 "Feature request: DKIM authentication setup"
Configuration can be found here: https://admin.google.com/ac/apps/gmail/authenticateemail

Suggested configuration:

[code]

[2021-08-16 15:00] megan07 commented on #131
Hi @ari-becker - following up here because I ran into this internally. `type` is actually required (I have a [fix](https://github.com/hashicorp/terraform-provider-googleworkspace/pull/139) for that out now). You could try fixing that quick and seeing if that makes a difference? I think the bug that you found probably covered up the error that the API would have returned. Sorry about that!

[2021-08-17 12:12] ari-becker commented on #131
Hi @megan07 ,

I do see that your fix helped, thanks!

[2021-08-17 12:15] ari-becker commented on #121
Hi @megan07 @appilon ,

While reviewing @megan07 's fix in https://github.com/hashicorp/terraform-provider-googleworkspace/pull/139 , I notice that, while the permadiff no longer shows up in `terrafomr plan` or `terraform apply`, the permadiff does still show up in `Note: Objects have changed outside of Terraform` and attempting to run `terraform apply -refresh-only` does not eliminate that false

[2021-08-18 14:37] megan07 commented on #134
Hi @dwilliams782! I wanted to check in and see if this worked and we can close the issue? Thanks!

[2021-08-18 15:47] megan07 commented on #127
Hi @brondum and @halradaideh! Sorry for the delay on responding to this. I know we have this option implemented in the Google provider, and I had heard in the past some issues surrounding that, so I wanted to get the background before I responded here.

It sounds like the main problem with the `access_token` approach is that they expire after an hour and don’t auto-refresh, thus, if an apply takes

[2021-08-18 19:02] halradaideh commented on #127
the need for the access_token is to use SA impersonation, as I have a lot of projects, having multiple keys is a security risk so we use impersonation

and impersonation only provide access_token for auth, that's why I need it

[2021-08-18 19:19] megan07 commented on #113
It appears this was GA in February (https://workspaceupdates.googleblog.com/2021/02/security-groups-now-generally-available.html), but interestingly enough, the `labels` attribute is not exposed in on the [admin SDK REST API](https://developers.google.com/admin-sdk/directory/reference/rest/v1/groups) but is on the [GCP REST API](https://cloud.google.com/identity/docs/reference/rest/v1/groups).

I

[2021-08-18 19:37] megan07 commented on #138
Hi @jleclanche! Thanks for reaching out and submitting this request. I see where I can update this in the UI, however, I can't find an exposed API for this. If you're aware of one, could you please share it? Thanks!

I browsed through here and didn't see anything, but I could have missed it! https://developers.google.com/admin-sdk

[2021-08-18 19:41] ericnorris opened #140 "Provider does not work with user credentials"
### Terraform Version
[code]

### Affected Resource(s)

- `googleworkspace_group`

### Terraform Configuration Files
[code]

### Debug Output

N/A

### Panic Output

N/A

### Expected Behavior

Running `terraform import` works.

### Actual Behavior

[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `gcloud auth application-default login --scopes

[2021-08-18 19:53] jleclanche commented on #138
@megan07 you're right I can't find it in the docs either. I took a look at the console just to see if it could give me pointers but it looks like it's using a weird rpc (i thought it was protobuf at first but no) over a service called `GmailAdminSettingsUi`.

https://admin.google.com/_/GmailAdminSettingsUi/data/batchexecute?rpcids=ljYEJ&f.sid=1551415815315915618&bl=boq_gmail-adminsettings-ui_20210

[2021-08-18 20:19] megan07 commented on #138
@jleclanche - a quick search and I wonder if [this](https://issuetracker.google.com/savedsearches/566264) would be the place to create that feature request.

We've reached out a couple times internally around other issues and have not heard back, but I'll have @tejavar reach out again.

Thanks!

[2021-08-20 11:09] dwilliams782 commented on #132
@megan07 Just deployed 0.4.1, instantly fixed our issue, thank you again!

[2021-08-27 14:23] megan07 opened #143 "[Gauging Interest] Support for Google Sheets"
Support Google Sheets

https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets.values

[2021-08-31 08:26] brondum commented on #127
@megan07  Thank you for looking into this. We actually use Vault to rotate the keys, but the problem is even if you have expiration set to an hour you are still only able to do 10 runs. In some cases we have automated stuff that runs in peak more than 10/hour.
It is definitely a workaround to use Vault and multiple backends, although if, like in our case, it is fully automated then you have to wri

[2021-09-08 07:14] stawik-mesa opened #147 "Feature request: Resource googleworkspace_group_members"
Currently we are running into api quota limits (requests per IP address) when using the resource `googleworkspace_group_member` for big groups during the state refresh as every single member has its own state. Besides that we also want to remove members from a groups which are not in the list.

Example:

[code]

instead of

[code]

[2021-09-08 07:15] stawik-mesa commented on #147
Hi, I am also willing to implement this feature ;)

[2021-09-13 22:53] ismith commented on #106
Hi! Is there work actively in progress on this? Weighing if we should charge forward manually, or hold off for a tool.

[2021-09-14 11:34] ari-becker opened #150 "googleworkspace_user has a permadiff on default `emails` fields"
### Terraform Version
provider version `0.4.1`

### Affected Resource(s)
`googleworkspace_user`

### Terraform Configuration Files
default `googleworkspace_user`, with minimal fields defined

### Expected Behavior
No permadiff

### Actual Behavior
Permadiff in terraform plan:

[code]

Running `terraform apply` succeeds, but does not actually delete the email addresses (the provider can't - these a

[2021-09-14 17:31] megan07 commented on #106
Hi @ismith! I can provide an update here. It is actively being worked on and is the highest priority for this provider at the moment. I'm finding it difficult to create a tool that can do this for us without knowing a user's exact configuration. For example, to parse a configuration file and all the associated interpolations, without knowing what was interpolated etc. I am continuing to look into

[2021-09-14 23:07] ericnorris opened #151 "`googleworkspace_group_member` should force a new resource when email is updated"
### Terraform Version
[code]

### Affected Resource(s)

- `googleworkspace_group_member`

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior

Updating the `email` field would remove the previous member, and add the new member.

### Actual Behavior

Nothing.

### Steps to Reproduce

1. `terraform apply`
2. Change the `email` field to another

[2021-09-15 19:23] megan07 commented on #150
Hi @ari-becker! Sorry you're running into this. I'm not certain I fully understand the context of this situation, but I'll try to and you can correct me if I'm wrong.

1) The email addresses being returned are not in your configuration, and cannot be deleted by the API, resulting in a permadiff? I see the `<primary>` and the `<primary>`.`test-google-a.com` are listed there,  how was the `ari@secon

[2021-09-16 14:17] #151 closed

[2021-09-17 14:53] megan07 commented on #127
Hi all! Just want to update here. I have code written and am running into the [same problem that was hit in the original gsuite provider](https://github.com/DeviaVir/terraform-provider-gsuite/issues/70#issuecomment-538964393). I have a question out to the Google Workspace team at Google to see if this is possible and/or what I might be running into. I haven't heard back yet, but will continue work

[2021-09-17 17:14] ari-becker commented on #150
Hi @megan07 ,

The `secondary.example.com` is a [user alias domain](https://apps.google.com/supportwidget/articlehome?article_url=https%3A%2F%2Fsupport.google.com%2Fa%2Fanswer%2F7502379&assistant_event=welcome&assistant_id=!PzG6dMGRyYTUo6TlVeM9eD60ASX8v_wDkyDjz6HgGR4%3D&product_context=7502379&product_name=UnuFlow&trigger_context=a), where Google Workspace automatically adds an email account at th

[2021-09-17 19:00] megan07 commented on #150
@ari-becker got it! Thank you! I think I'm going to suppress diffs against anything in the state without a `type`, does that sound accurate to you?

[2021-09-18 10:22] ari-becker commented on #150
@megan07 yes, I think that sounds accurate. There's an edge case where Google adds additional user domain emails for user aliases as well, i.e. if the primary email is `foo@example.com` and there's a user alias domain `secondary.example.com`, then if the user is granted the alias `bar@example.com`, Google will add the email `bar@secondary.example.com` as well. However, in any event the `users.get`

[2021-09-20 14:58] #150 closed

[2021-09-20 18:02] gabor-farkas commented on #127
Hi @megan07 thanks for the update! May I ask what's the exact problem? I don't seem to have access to the PR linked in the original issue you linked. I managed to call the directory api using a service account access token (with curl)

[2021-09-22 16:46] #140 closed

[2021-09-22 20:43] #134 closed

[2021-09-23 16:42] megan07 commented on #127
Hi @gabor-farkas ! Sure! So I have a service account which I can generate an access token for, and that's fine, but when I go to generate an access token for the impersonated user, I get a 404: "Requested entity was not found" error.

Here's my [branch](https://github.com/hashicorp/terraform-provider-googleworkspace/tree/megan_127/internal/provider). It fails in the test [here](https://github.com/

[2021-09-23 17:11] gabor-farkas commented on #127
Hi @megan07 thanks for the details, I'll take a look into the details tomorrow!
With `curl` I used the service account access token directly, without impersonating a workspace user - workspace now supports adding service accounts directly as group or user admins.
I had to provide the X-Goog-User-Project header though, and after just a quick look I'm not sure how the googleoauth library supports pr

[2021-09-23 17:46] megan07 commented on #130
Hi all! I have a PR open to fix the initial issue noted above (documentation for scopes). Feel free to open a new issue (or follow #127) for further requests. Thanks!

[2021-09-23 18:29] #130 closed

[2021-09-23 22:44] ericnorris opened #159 "Per-minute quota exceeded when using `googleworkspace_group_member`"
### Terraform Version
[code]

### Affected Resource(s)

- `googleworkspace_group_member`

### Terraform Configuration Files

N/A

### Debug Output

[code]

### Panic Output

N/A

### Expected Behavior

The provider should have retried with an exponential backoff per the [Directory API docs](https://developers.google.com/admin-sdk/directory/v1/limits#backoff).

### Actual Behavior

The error above

[2021-09-27 13:09] gabor-farkas commented on #127
Hi @megan07 I checked the branch you shared now.
I'm still checking why user impersonation for DwD doesn't work, I get the same error. The access token usage, however, does work without DwD, with the following setup:
[code]
I can manage groups with this setup, adding the service account as a Group Admin.

I'll try to see what goes wrong with DwD, but I think supporting an access_token without `imp

[2021-09-28 09:02] gabor-farkas commented on #127
I went after the 404 error too. So it basically comes because the [`impersonateCredentials`](https://github.com/hashicorp/terraform-provider-googleworkspace/blob/33fb0b0d951dfc167cb2491c8949bb11d5792f4c/internal/provider/provider_config.go#L54) call will try to use the [`generateAccessToken`](https://cloud.google.com/iam/docs/reference/credentials/rest/v1/projects.serviceAccounts/generateAccessTok

[2021-09-28 15:05] megan07 commented on #127
Ahhh thank you for all of this @gabor-farkas! If you have it working and want to submit a PR, I'd be more than happy to review it! If you can, please add a test and documentation as well. If you don't have time, I'd be happy to pick it up as well, just let me know. Thanks again!

[2021-09-28 15:46] gabor-farkas commented on #127
Hi @megan07! No probs, I'm happy could help! I would rather call my local copy a playground (all the changes I have are the lines quoted above), so feel free to pick it up!

[2021-10-01 06:27] oswalya commented on #159
Hi we have the same issue. At least for large group operations #147 should help. We just wait for the new release of this provider that includes this option.

[2021-10-01 15:51] ericnorris opened #162 "Eventual consistency error with `googleworkspace_group_member`"
### Terraform Version

[code]

### Affected Resource(s)

- `googleworkspace_group_member`

### Terraform Configuration Files

N/A

### Debug Output

[code]

### Panic Output

N/A

### Expected Behavior

The user should have been added to the group successfully, and Terraform should have exited successfully.

### Actual Behavior

The user was added to the group, but Terraform failed due to a 404. W

[2021-10-04 18:58] PatrickDale commented on #162
This happened to me today as well -- the resource was created, but the first run failed with a 404. I had to manually import the resource to update the terraform state (same as @ericnorris).

[2021-10-05 14:19] #127 closed

[2021-10-05 14:19] #159 closed

[2021-10-08 18:12] megan07 opened #181 "upgrade to terraform-plugin-framework"

[2021-10-20 07:38] wgebis opened #185 "Add data `googleworkspace_users`"
Hi there,

It would be nice to be able to get the all users from the directory optionally based on search criterions. It's necessary to make  provisioning of related systems based on Google Workspace user directory.
At the moment data `googleworkspace_group_members` might considered to be used but it returns only membership related info, without any user details e.g. name, custom schemas fields et

[2021-10-20 15:10] wgebis commented on #185
@tejavar

The first use case. E.g. I want to import users filtered by a certain criteria and use them in other or even in the same project.

Currently in the project where users are defined as `googleworkspace_user` it is not possible to handle all users as a collection and iterate over. I can get a collection of group member via `googleworkspace_group_members` but in that case I still don't have

[2021-10-20 17:15] #162 closed

[2021-10-26 09:03] mark-00 opened #191 "googleworkspace_group_members can not remove all members from group"
### Terraform Version
Terraform v1.0.8
on linux_amd64
+ provider registry.terraform.io/hashicorp/googleworkspace v0.5.0

### Affected Resource(s)
googleworkspace_group_members

### Terraform Configuration Files
[code]

### Expected Behavior
Since googleworkspace_group_members is authorative all members should be removed from group

In a real scenario we use dynamic member blocks based on a list.
T

[2021-10-26 09:18] mark-00 opened #192 "googleworkspace_group_members can not handle exististing users in group"
### Terraform Version
Terraform v1.0.8
on linux_amd64
+ provider registry.terraform.io/hashicorp/googleworkspace v0.5.0

### Affected Resource(s)
googleworkspace_group_members

### Terraform Configuration Files
[code]

### Expected Behavior
Since googleworkspace_group_members is authorative if an existing member is specified in a member block this shouldn't be a problem

### Actual Behavior
Error

[2021-10-26 14:59] #192 closed, assigned to megan07

[2021-10-26 17:40] gwtfuser opened #195 "Data source googleworkspace_role is throwing bad request error"
Hi there,

I could use some help with the googleworkspace_role that is keep throwing 400 while accessing it via a data source.

### Terraform Version
Tested in below Terraform versions:
v0.13.7 and v1.0.9
on darwin_amd64
+ provider registry.terraform.io/hashicorp/googleworkspace v0.5.0

### Affected Resource(s)
googleworkspace_role (Data Source)
googleworkspace_role_assignment (resource)

### Terr

[2021-10-27 15:10] #191 closed, assigned to megan07

[2021-10-28 07:45] alepuccetti opened #196 "Missing valid configuration values in "googleworkspace_group_settings""
### Terraform Version
My terraform version is v1.0.8

### Affected Resource(s)
- googleworkspace_group_settings

### Terraform Configuration Files
[code]

### Expected Behavior
This configuration should work.

### Actual Behavior
This configuration fails because `ALL_OWNERS_CAN_CONTACT` and `ALL_OWNERS_CAN_VIEW` are not expected values in the provider. However these are the values that are seen wh

[2021-10-28 12:58] GuillaumeRoss opened #197 "Support for Dynamic Groups"
Hi!

With Dynamic groups being GA - we'd love to be able to use them, but that would require us to be able to automate them properly.

Are there plans to support dynamic groups and their CEL queries in this TF provider?

Thanks

[2021-11-01 15:18] megan07 commented on #195
Hi @gwtfuser, I'm sorry you're experiencing this issue. Do you have the configuration for how you created the `MailAdmin` role?

[2021-11-02 10:02] gwtfuser commented on #195
@megan07 Thanks for replying.
The problem is, no matter if I choose a manually created existing custom admin role with full privileges or a non-existing user in the data source. it always ends up with a bad request error.

data "googleworkspace_role" "group_admin" {
  name = "terraformtest"
}

=============================================
=============================================
=============

[2021-11-02 14:50] megan07 commented on #195
@gwtfuser I'm sorry you're hitting this, I've found these error messages to be really difficult to debug because they don't specifically tell you what is bad about the request, and when I'm unable to reproduce it, then we're sort of stuck :\

The reason I'm asking for how the role was created is because I'm wondering if the name that you're passing isn't the name that it's looking for.

One thing

[2021-11-02 15:53] ericnorris opened #202 "Still seeing issues with `googleworkspace_group_member` as of version `0.5.1`"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- `googleworkspace_group_member`

### Terraform Configuration Files
`terraform.tf`:

[code]

`.terraform.lock.hcl`:

[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior

- When creating a `googleworkspace_group_member`, it won't fail due to eventual consistency (https://gi

[2021-11-03 09:07] gwtfuser commented on #195
Hi @megan07,
The roles are created manually using the GW UI.
also the API you suggested is working perfectly fine. It is listing all the roles with all the other info.
I believe it's just terraform thats having this issue.

{
      "kind": "admin#directory#role",
      "etag": "\"_5LMVq0wQ1BOjRt0AJ1QfX3x8QgXDgCpEa4lwc938n4/CzDXDIAK9b8KTC0aCUSoFk-oxko\"",
      "roleId": "xx",
      "roleName": "tf

[2021-11-03 20:46] megan07 commented on #195
Hi @gwtfuser , so to clarify, the `tftest` role exists in that list and you get an error with
[code]
(I want to clarify because each of the comments uses a different role name, I want to make sure we're on the same page.)

That said, I see you posted the debug log above that has the API response, can you post the whole debug log so I can see the request that's being sent to the API?

Thanks! And t

[2021-11-08 08:14] gwtfuser commented on #195
hey @megan07,
Please ignore role name examples, As I said there are plenty of roles in the admin console I was trying different users to get this work. Yes, we are on the same page. I have generated the full terraform plan again for you (customer id and company names are redacted)
This has been an issue for many days, please do the needful . Thanks.

https://gist.github.com/gwtfuser/c83cd861463e46

[2021-11-09 21:45] megan07 opened #204 "[Seeking Configurations] - GSuite Migration"
Hello Community!

We're working on [a tool that will migrate the old GSuite provider configurations/state to the Google Workspace provider](https://github.com/hashicorp/terraform-provider-googleworkspace/issues/106). We have tested this provider with a basic configuration, but would love the community to help with testing it further. We want to make sure we're covering different use cases and Terr

[2021-11-09 21:46] megan07 commented on #106
A quick bump of https://github.com/hashicorp/terraform-provider-googleworkspace/issues/204 for those interested in helping us test this tool.

Thanks in advance!

[2021-11-09 21:54] megan07 commented on #113
Hi @GuillaumeRoss ! Thank you for your interest in this. I'd like to refer you to the comment above, as this isn't available on the Google Workspace API, but is available on the Google Cloud API (which is utilized by the Google Terraform provider). I will leave this issue opened with the `upstream` label for future reference if it does become available on the Google Workspace API. Thanks!

[2021-11-09 22:00] megan07 commented on #197
Hi @GuillaumeRoss ! Similar to the Security Group labels, setting up Dynamic groups does not appear available on the [admin SDK REST API](https://developers.google.com/admin-sdk/directory/reference/rest/v1/groups), however is available on the [Google Cloud REST API](https://cloud.google.com/identity/docs/reference/rest/v1/groups#DynamicGroupMetadata). It is not implemented on the Google Terraform

[2021-11-10 13:22] mrobinson-anaplan opened #205 "data source googleworkspace_group_members paging"
FYI the response from the api endpoint for group membership https://developers.google.com/admin-sdk/directory/v1/guides/manage-group-members#get_all_members, is paged.  You seem to be retrieving only the first page.

[2021-11-10 14:48] eitah commented on #106
By `knowing a user's exact configuration` do you mean you want representative samples of our terraform usage of any of the resources that would use the new provider, but especially those mentioned in https://github.com/hashicorp/terraform-provider-googleworkspace/pull/99/files Just trying to clarify what the call to action is.

[2021-11-10 15:27] megan07 commented on #106
Hi @eitah ! Thanks for asking - yea, any Gsuite Terraform configurations that you have. The basic configurations that we've worked with only really interpolate values, and that's about the extent of Terraform complexity that we've used there, so it'd be great if you had some configurations that used dynamic blocks, splat expressions, etc just to make sure that these things won't mess with the tool

[2021-11-15 12:06] gwtfuser commented on #195
@megan07 Thanks for putting this as `bug`.
I see there's no assignee for this at the moment, could you tell me an ETA for the fix ?

[2021-11-15 16:01] megan07 commented on #202
Hi @ericnorris, sorry for the delay on this, I plan to take a look here today. I think it's more likely that maybe the fix added didn't fix your issue, for which I apologize. I was unable to reproduce it, so I added in the code that fixed eventual consistency in the other resources and assumed it would help. Could you provide me a snippet of your debug log that would show all the requests/response

[2021-11-15 16:50] ericnorris commented on #202
Hey @megan07, no need to apologize! Unfortunately I cannot attach a debug log, as the issue is hard to reproduce, and once it happens it transitions into a state where you get the `409` error, not the original `404`. We don't have debug logs turned on all the time, and I can't predict when the issue would happen in order to turn them on.

That said, I think it's pretty clear from the issue descrip

[2021-11-15 19:27] megan07 commented on #202
Got it! I'll fix that, thanks! If by chance you run across the other issue and happen to have debug turned on...I'd love to address the first issue too :) But I'll address the 409 for now.
Thanks!

[2021-11-15 20:31] megan07 commented on #195
Hi @gwtfuser , I'm still unable to repro this, and as far as I can see in the debug logs, the request looks correct. Can you double check the configuration of your provider and make sure the customer id is correct?
It might help if you provide me your configuration and maybe the scopes you have set up etc? I don't think that's it, but I'm at a loss as to what it could be.
I know you tried it with

[2021-11-15 20:51] jeffbryner commented on #113
FWIW, tried this a couple of ways and gotchas abound:

- Create a group with the workspace provider, reference it in the cloudidentity resource with a security label
- Create a group with the cloudidentity resource and apply a security label

Couldn't get either to work?
In either case, cloudidentity attempts to create a group. If you create a group you apparently cannot do so with an initial labe

[2021-11-15 21:13] megan07 commented on #113
@jeffbryner Ah, I think it looks like maybe we need to open in issue in the [google terraform provider repo](https://github.com/hashicorp/terraform-provider-google/issues) that would remove `ForceNew` from the `labels` attribute. If you do so, I would also mention updating the documentation that more than one label should be allowed (currently, the limit isn't enforced, but the documentation notes

[2021-11-15 21:16] #196 closed

[2021-11-15 21:21] #205 closed

[2021-11-15 21:26] #202 closed

[2021-11-16 09:42] gwtfuser commented on #195
@megan07
I am sorry but I am not sure what configuration should I provide next.
My assumption is if the resource and data definition mentioned below are working fine, there's should not be an issue with the customer id and connection to the API.

this is working great =>

[code]

[2021-11-16 17:35] dwilliams782 commented on #202
@megan07 when will this be available in a release? Came here to report the same issue.

[2021-11-17 16:07] csimard01 opened #212 "Adding service account with group membership is bugged"
Hi Google Workspace terraform team,

I love your provider and I'm happy to have it.

I'm using googleworkspace_group_members to add a google Service Account to a group.

- GOOD : The adding works well. We can find the SA in the group (IAM --> Groups --> group details)
- BUG : However, the field "type" seem blank in group description (IAM --> Groups --> group details)
- BUG : Using policy troublesh

[2021-11-17 16:22] megan07 commented on #202
@ericnorris and @dwilliams782 `0.5.2` was just released, please let me know if this fixes your issues! Thank you for your patience!

[2021-11-17 16:38] samcolson4 opened #213 "'Not authorized' error on terraform apply"
### Terraform Version
Terraform v1.0.11 on darwin_amd64

### Affected Resource(s)
- googleworkspace_user

### Terraform Configuration Files
[Lock file](https://gist.github.com/samcolson4/fe576defa4c40372ff52595af22d1c8b)

### Debug Output
[Output](https://gist.github.com/samcolson4/9914b2a45a1f9f9c2978c864de05cc6a)

### Expected Behavior
A new user to be created in our google workspace.

### Actua

[2021-11-17 16:55] dwilliams782 commented on #202
Thanks for confirming, bumped versions, will test shortly. 🎉

[2021-11-17 17:56] csimard01 commented on #212
Precision :
The SA I'm trying to add is the Google cloud build  in the format of <project_number>@cloudbuild.gserviceaccount.com which is a Google created Service account.

[2021-11-17 19:59] megan07 commented on #213
Hi @samcolson4. I'm sorry you're running into this! Can you provide me with the scopes you have set up on your service account you are using please? See [Configuring the Service Account](https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs#using-domain-wide-delegation) in the docs here.
Thanks!

[2021-11-18 09:40] samcolson4 commented on #213
Hi Megan, thanks for coming back quickly. The scopes we ended up using are the 12 listed in the issue:

[code]

Our concern is that some of these don't seem necessary and grant too much power, but are seemingly required to get any sort of user creation working through the TF resource.

[This documentation](https://developers.google.com/admin-sdk/directory/v1/guides/delegation#delegate_domain-wide_

[2021-11-18 11:05] gabor-farkas commented on #213
The `https://www.googleapis.com/auth/cloud-platform` scope should be necessary to call the https://cloud.google.com/iam/docs/reference/credentials/rest/v1/projects.serviceAccounts/generateAccessToken method. This generates the access token that is then used for API calls. The error message "Client is unauthorized to retrieve access tokens using this method" suggests that the error is coming from t

[2021-11-19 15:10] danielegozzi opened #216 "SIGSEGV on googleworkspace_group_member when adding a user to a Cloud Identity group"
### Terraform Version
 $ terraform -v
 Terraform v1.0.11
 on darwin_amd64
 + provider registry.terraform.io/hashicorp/google v4.1.0
 + provider registry.terraform.io/hashicorp/google-beta v4.1.0
 + provider registry.terraform.io/hashicorp/googleworkspace v0.5.2

### Affected Resource(s)
- googleworkspace_group_member

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.c

[2021-11-19 23:48] virgofx opened #217 "`data.googleworkspace_user` Drops `id` on Subsequent Change that triggers Resource Update"
The `data.googleworkspace_user` resource drops the `id` output field when the data resource is recomputed. The first run, it works. Then subsequent uses/triggers of the resource will set the id to null.

This is a huge blocker in our current environment!

### Terraform Version
`terraform 1.0.11`

### Affected Resource(s)
Please list the resources as a list, for example:
- data.googleworkspace_user

[2021-11-19 23:51] virgofx commented on #217
I would be more than happy to test any new or beta versions that fix this. ^^

[2021-11-23 15:36] megan07 commented on #216
Hi @danielegozzi! I'm sorry you're experiencing this issue. I understand your hesitation of providing your configuration, however I am unable to reproduce this. I will provide my configuration below, would you mind letting me know where I might be misunderstanding the issue? I've tried both `googleworkspace_group_member` and `googlce_cloud_identity_group_membership` and they both succeeded. I'm su

[2021-11-23 15:48] #217 closed

[2021-11-23 16:11] megan07 commented on #212
Hi @csimard01! Thanks for the positive feedback! That always makes us feel good! I'm sorry you're experiencing this issue! I've tried it out and wasn't able to reproduce the problem. However, I'm not convinced we have this set up the same. Could you include your configuration to make sure what we have matches? For both the `group` and `group_members` resources?
Thanks!

[2021-11-23 18:02] danielegozzi commented on #216
Using your confguration maybe I found a reproduction. If I set up two googleworkspace_group_member for the same user, one with role MEMBER, the other with role OWNER, i get the SIGSEGV.

[2021-11-23 20:13] megan07 commented on #216
Thanks! I was able to reproduce it now and I see the issue. Thanks!

[2021-11-24 16:37] megan07 commented on #195
Hi @gwtfuser , I'm so sorry, I'm at a loss. I know I had you try this in the web UI and it worked, but this is literally the call that terraform is calling (as seen in the gist you provided). It succeeds for me, would you mind giving it a try from the same machine that you're seeing this error and see if it succeeds for you?
`curl -H "Content-Type: application/json" -H "Authorization: Bearer $ACCE

[2021-11-24 16:39] megan07 commented on #202
@ericnorris @dwilliams782 I'm sorry! I'm going to have to revert the fix I put in for this issue, I didn't consider the obvious of if a user accidentally added the same member twice with 2 different roles, terraform won't know what to do with that.
I think the best thing we can do, at this point, is increase the timeouts to help the eventual consistency, and if the 409 shows up again, import that

[2021-11-24 16:42] megan07 commented on #192
@mark-00 I'm sorry! I'm going to have to revert the fix I put in for this issue, I didn't consider the obvious of if a user accidentally added the same member twice with 2 different roles, terraform won't know what to do with that. It's best to see the error and remove the duplicate member.

Let me know if you have further questions!

[2021-11-24 16:44] megan07 commented on #216
Hi @danielegozzi ! This was due to a [fix](https://github.com/hashicorp/terraform-provider-googleworkspace/pull/211) I put in hoping to import members that were accidentally duplicated, or if the original call failed due to eventual consistency. I failed to consider if the member was added with 2 different roles, terraform won't know what to do. I will revert that code so the error shows up and us

[2021-11-24 16:56] megan07 commented on #106
Just wanted to add a gentle reminder here that I'll leave https://github.com/hashicorp/terraform-provider-googleworkspace/issues/204 open for another 15 days, and at the end of that time we'll use the configurations provided to verify our migration tool. Thanks!

[2021-11-24 17:19] joe-a-t commented on #106
I'm having a bit of trouble generalizing/anonymizing our configuration enough to share in a reasonable way. Would it be possible for you to share the migration tool so that we could test running it on our end with a backup of our state file and let you know what happened/if there are any issues? That would probably be a lot easier for everyone if we only have to reproduce snippets where we know th

[2021-11-24 18:58] #216 closed

[2021-11-25 05:56] danielegozzi commented on #216
Great job! Than you for your effort.
I'm not even sure that the Google Admin console exposes the way to set two roles for a user, but my group settings are way too convoluted and triggered this problem.

[2021-11-25 16:03] alvarorm22 commented on #212
Hi @megan07 , we are also using this provider and I think that we have the same issue. This is our module config:

[code]

And we initialize the module with following:

[code]

Our settings:

[code]

The problem is, **in some cases**, the member is added to the group without any kind of `type`, we can check this in Iam -> Groups -> Members

![image](https://user-images.githubusercontent.com/334563

[2021-11-25 16:26] samcolson4 commented on #213
Apologies for the slow response. The workspace-creds.json I believe is the required key & associated information, yes.

[2021-11-26 07:55] gabor-farkas commented on #192
I also had this problem when I wanted to start managing the members of an already existing group.

I didn't check, does `import` work for that case?

[2021-11-26 15:21] MPV opened #221 "[Gauging Interest] Support for Google Chat"
Support Google Chat

https://developers.google.com/chat/api/reference/rest

[2021-11-26 15:26] MPV commented on #221
Myself I'm specifically interested in being able to create new incoming webhooks for a space.

My use case would be automation of integrations, where I can create a webhook for a space in one terraform resource, then put the secret webhook key in another resource (for example into a secure KMS secret).

[2021-11-29 18:39] edahlseng opened #223 "Documentation error for googleworkspace_user phones attribute"
### Terraform Version
Documentation

### Affected Resource(s)
- `googleworkspace_user`

### Expected Behavior
The description for the `phones` block should describe what the `phones` block does.

### Actual Behavior
The [documentation page](https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs/resources/user#optional) appears to duplicate the description from the `name` blo

[2021-11-30 15:00] prycey77 opened #224 "Users getting randomly suspended"
### Terraform Version
Terraform v1.0.11 on darwin_amd64

### Affected Resource(s)
- googleworkspace_user

### Terraform Configuration Files
[main.tf](https://gist.github.com/prycey77/366a93a0448eb466ba8f450d23667926)
[.terraform.lock.hcl](https://gist.github.com/prycey77/f7bd1cc8b50b3283f7932f5208c24e4b)

### Expected Behaviour
Terraform should always successfully `apply` regardless of whether a u

[2021-11-30 17:02] ari-becker opened #225 "[Resource request] `googleworkspace_user_schema`"
### Request
Please implement a resource like `googleworkspace_user_schema` that would permit the following semantics, to allow setting only user schemas and not the rest of the fields in the user:

[code]

### Use-case
Our HR is in the process of adopting an HR system that has Google Workspace integration, automatically creating and deleting users in Google Workspace on the basis of their status i

[2021-12-01 11:55] csimard01 commented on #212
Hi confirm alvarorm22 behavior.

Adding it manually work well.

[2021-12-01 11:56] csimard01 commented on #212
We've try group and group_members. Id didn't work.

Best regards

[2021-12-01 12:23] csimard01 commented on #212
To reproduce the problem here's what you can do.

Google project #1
- create a bucket
- create a worksapce group with read permission to the bucket

Google project #2
- Activate a service that require service account "cloud build."

Use group or group members to add "cloud buid" of project 2 to group with permission on project 1

The service account "cloud build" will be added to the group but wil

[2021-12-02 14:20] ozayss opened #226 "Bug in googleworkspace_group_member"
Hello!

Great provider, but unfortunate I faced bug.
Could you please help me with this?

### Terraform Version
Terraform v1.0.11
registry.terraform.io/hashicorp/googleworkspace v0.5.2

### Affected Resource(s)
- googleworkspace_group_member

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/ozayss/11f35e67b95e19189a57d8b9d2369754

### Panic Output
https://gist.git

[2021-12-03 09:58] ozayss commented on #226
https://gist.github.com/ozayss/7bb2d1a006a99d565999e3f149551342

Crash log for 404 error, looks like it can't confirm resource after creation.

[2021-12-04 18:17] eelbrink opened #228 "Oauth2: cannot fetch token: 401 Unauthorized"
Hi there,

I have am experiencing an issue which i am hoping you can assist me with. I am looking forward to using this provider for google workspace user and group admin.

### Terraform Version

### Affected Resource(s)
Please list the resources as a list, for example:

### Terraform Configuration Files
[code]

### Actual Behavior
[code]

### Documentation Followed

- https://www.hashicorp.com/bl

[2021-12-06 07:54] ttarczynski commented on #224
A `lifecycle` Mata-Argument `ignore_changes` may help here. You would need to put this block under `resource "googleworkspace_user" "user" {`:
[code]

With `ignore_changes` Terraform should ignore the `suspended` attribute when planning an update.
You can find the docs here: https://www.terraform.io/docs/language/meta-arguments/lifecycle.html#ignore_changes

[2021-12-07 13:44] vmhlotsh1 commented on #224
Thanks a mill @ttarczynski

[2021-12-09 00:39] onetwopunch opened #231 "Feature: expand nested groups in data googleworkspace_group_members"
Hi I'm trying to get a list of all human users in a particular group, but that group could have nested groups in it. It'd be great to tell the data provider for `googleworkspace_group_members` to expand groups with something like

[code]

The end result would be a list of member structures such that the only `type` is `USER`.

[2021-12-09 01:02] onetwopunch commented on #231
I think this could be as simple as exposing the [`IncludeDerivedMembership(includeDerivedMembership bool)`](https://pkg.go.dev/google.golang.org/api/admin/directory/v1#MembersListCall.IncludeDerivedMembership) function in [`resourceGroupMembersRead`](https://github.com/hashicorp/terraform-provider-googleworkspace/blob/5f0990fb8389e9a70d2f4c99ac6f7ee2f61465b2/internal/provider/resource_group_member

[2021-12-09 22:49] RuiSMagalhaes opened #233 "googleworkspace_user crash: Root resource was present, but now absent."
Hi all 👋 !

### Terraform Version
Terraform v1.0.0
registry.terraform.io/hashicorp/googleworkspace v0.5.2

### Affected Resource(s)
Please list the resources as a list, for example:
- googleworkspace_user

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/RuiSMagalhaes/04417230775bbc7a1202d17499439fa0

### Expected Behavior
What should have happened?
The user is cr

[2021-12-10 11:08] Luis-3M commented on #233
+1

[2021-12-10 12:19] alepuccetti commented on #233
+1 Same problem

[2021-12-10 12:46] RuiSMagalhaes commented on #233
was able to solve this by removing the `languages` block from the `googleworkspace_user` resource:

[code]

[2021-12-10 12:55] alepuccetti commented on #233
@RuiSMagalhaes I added it because every time I run again a plan it apply update all the users again.

[2021-12-10 13:09] RuiSMagalhaes commented on #233
With `0.5.2` version of the provider that bug is gone. You can safely remove it.

[2021-12-10 13:14] alepuccetti commented on #233
@RuiSMagalhaes Thank you.

[2021-12-13 04:17] fiq opened #235 "memberKey, notFound on creation of Nth GoogleWorkspace user"
### Terraform Version

Terraform version: 1.1.0  on linux_amd64

* This has also occured with a slightly different message in `Terraform v1.0.10 on darwin_amd64` We did both a terraform init upgrade and started over with a clean tfstate.

### Affected Resource(s)
Please list the resources as a list, for example:
- googleworkspace_user
- googleworkspace_group_member

If this issue appears to affect

[2021-12-13 21:00] megan07 commented on #212
@csimard01 @alvarorm22 I'm so sorry, I am still unable to reproduce this, with both suggestions.
This code snippet is what I'm running, my intent is to encapsulate both set-ups that you've suggested. Please let me know if I am missing an important piece
[code]

Then, after apply, I jump to the console and look under `Group Details` and see both members listed with type `Service account`, then I go

[2021-12-13 22:12] megan07 commented on #213
Hi @samcolson4 , I took a step back here and re-created my entire set-up from scratch in attempt to repro the error, and couldn't. However, I did set this up with the most restrictive permissions I could and it worked as expected.

I have the following config, and note the `user` is created/destroyed successfully, and the group is not (which is intentional, to show that the scopes are working corr

[2021-12-14 17:29] enchorb opened #237 "Feature Request: Add user to domain permissions in Google Domains"
Having the ability to add an email/user in Google Workspaces Domains (https://domains.google.com/) would be very useful

ie, Currently when doing domain mapping with an impersonated Terraform account, for instance, mapping a custom domain to a Cloud Run instance it will give you an error until you manually go to google.com/webmasters/verification/home or Google Domains and add the Terraform servic

[2021-12-15 16:11] megan07 commented on #226
Hi @ozayss! I'm so sorry you've run into this. The good news is, this is actually a [duplicate](https://github.com/hashicorp/terraform-provider-googleworkspace/issues/216) and has already been fixed! It will be out in the next release. Thanks for your patience!

[2021-12-15 16:11] #226 closed

[2021-12-15 16:19] megan07 commented on #228
Hi @eelbrink! I'm so happy you're looking forward to using this, and I'm sorry this confusion is your first experience. I'm currently trouble-shooting a similar issue (maybe the same?) [here](https://github.com/hashicorp/terraform-provider-googleworkspace/issues/213#issuecomment-992957190). I would suggest reviewing the scopes you added for your service account when setting up Domain Wide Delegati

[2021-12-15 16:21] megan07 commented on #228
I should add, if you _are_ specifying scopes in the provider, then make sure that the scopes added in Domain Wide Delegation include all of the scopes you're adding to the provider.

[2021-12-15 18:11] #233 closed

[2021-12-15 18:19] #223 closed

[2021-12-15 19:46] megan07 commented on #235
Hi @fiq , i'm sorry you're running into this. I wanted to provide an update as I've at least found what the problem is. It seems as though when the `googleworkspace_group_member` is created, the Google Workspace admin API returns `id` as some random string in this particular case (I've tested this a few times now and it's actually the exact same string, so...I'm wondering if it's maybe hard-coded

[2021-12-16 12:23] csimard01 commented on #212
Hi Megan,

Sorry for the delay. I'ts a busy time for me.

As mentioned in my precision
*The SA I'm trying to add is the Google cloud build in the format of
***@***.***
<http://cloudbuild.gserviceaccount.com> which is a Google created Service
account.*

Instead of using a service account you've created in the project #1, try to
add a service account automatically *created by Google*. This is where

[2021-12-16 13:58] csimard01 commented on #212
the name of the service account didn't parse well. Here is the name

project_number@cloudbuild.gserviceaccount.com

[2021-12-16 16:46] megan07 commented on #237
Hi @enchorb! Thanks for the suggestion! I have been poking around here and haven't found an API that does this. Are you aware of one? I might be missing it.
Thanks!

[2021-12-16 16:57] megan07 commented on #212
Hi @csimard01, sorry for the confusion, I should have noted:
[code]
is the Google-created default service account for big query (`bq-<project-number>@bigquery-encryption.iam.gserviceaccount.com`

No worries on the delay, I totally understand! If you see anything else with my set-up that isn't correct, please let me know! I'll keep digging into it as best I can. Thanks!

[2021-12-16 19:21] tejavar commented on #225
@ari-becker

Currently putting this on "requesting feedback" status to gather more insight into this issue. What we looking to learn if this is happening for more than one user/organization, understand workspace setup and more use-cases to help solve for this effectively.

Please like or comment on this issue if you have a similar problem.

[2021-12-16 19:53] megan07 commented on #192
Sorry for the delay @gabor-farkas, I missed this before. `import` should work, if you're seeing an issue with `import` feel free to open a new issue! Thanks!

[2021-12-16 21:12] megan07 commented on #235
I found what is happening! It looks like terraform is trying to create the member before the user is created. Sorry, I watched it a little bit closer this time.

Here's how you can make sure that the member depends on the user being created first:
[code]

I'll close this now, but if you see further issues, feel free to open a new issue. Thanks!

[2021-12-16 21:12] #235 closed

[2021-12-17 19:46] #231 closed

[2021-12-17 22:11] #185 closed

[2021-12-21 15:33] joe-a-t commented on #106
@megan07 any update on this? I'm happy to dry run any draft of the migration tool on my end if that would be helpful.

[2022-01-10 16:20] sv-cheats-1 opened #247 "We would like to contribute code"
Hello, are you willing to accept contributions to this? If so, is there any functionality in particular missing from the workspace provider that would assist with automation of Google Workspace deployment? Currently it seems like engineers spend significant amount of time configuring things manually and we here at Devoteam UK would be happy to help with solving that.

@megan07

[2022-01-10 17:54] megan07 commented on #247
Hi @sv-cheats-1!

Thanks so much for reaching out! We are always excited for help!

If you're looking for a place to start you can begin by reading our [Contribution Guide](https://github.com/hashicorp/terraform-provider-googleworkspace/blob/main/.github/CONTRIBUTING.md) and [Community Guidelines](https://www.hashicorp.com/community-guidelines). Then head on over to the [issues page](https://githu

[2022-01-10 17:54] #247 closed

[2022-01-14 15:00] fabform commented on #143
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-20 21:30] bgmonroe opened #252 "Feature Request: Please update the published docs with all env vars and their usage."
Currently the googleworkspace provider only supports passing in a credential file path (either via provider parameter or GOOGLEWORKSPACE_CREDENTIALS env variable) In order to support Terraform Cloud and Enterprise, it would be beneficial to be able to support a raw test string env variable similar to what the GCP "google" provider supports with the GOOGLE_CREDENTIALS variable[1].

[1] https://regi

[2022-01-20 21:43] bgmonroe commented on #252
Oh, it looks like that feature was added in v0.2.0[1], just not added to the documentation published on Provider's docs page[2].

[1] https://github.com/hashicorp/terraform-provider-googleworkspace/blob/de40ea33cde72d590307ba5c128e9e6542204103/docs/upgrade_guide.md#provider-configuration
[2] https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs

[2022-01-31 22:14] #252 closed

[2022-02-01 16:23] megan07 commented on #213
@samcolson4 - I wanted to check in and see if this is still an issue and if there is anything more I can do to help here? Thanks!

[2022-02-01 16:26] megan07 commented on #195
@gwtfuser I wanted to check in and see if this is still an issue. Were you able to try using `curl`?

[2022-02-01 16:28] megan07 commented on #228
@eelbrink - I wanted to reach out and see if this is still an issue and if there's anything more I can help with. Thanks!

[2022-02-02 21:10] joe-a-t commented on #106
@megan07 any update on the status of this tool? I'm happy to dry run any draft of the migration tool on my end if that would be helpful.

[2022-02-02 21:54] tejavar commented on #106
Hi @joe-a-t  thanks for getting back regarding the credentials for the migration tool. For Q1, We did not prioritize tool and hence won't be working on this. But please do feel free to comment or add your use-cases on high-level so that it will help us re-prioritize this.

[2022-02-02 22:15] joe-a-t commented on #106
Hey @tejavar. We are entirely blocked on using this provider until this tool comes out since the migration process would be unbelievable painful for us without it. If we have to keep using the old deprecated gsuite provider because the migration tool doesn't exist, that's just what we will have to do.

[2022-02-11 08:17] dsiebel opened #259 "Error 403: Request had insufficient authentication scopes."
### Preface

This might be more of a "request for comment/clarification" than an actual bug.
What we are currently observing is the following:

We can plan and apply changes just fine from a GKE cluster with a Service Account using Workload Identity, but when we try to run import/plan/apply locally, using our personal users it fails with the error described below.
The Service Account has role `Gro

[2022-02-11 15:48] polarn opened #260 "Recovery email can't be removed from user"
Seems like `recovery_email` in `googleworkspace_user` does not work like expected. If it is set on a user manually, terraform apply does not remove it, it is still there.

### Terraform Version
[code]

### trace log
Here is part of the trace log that I found interesting:
[code]

### Affected Resource(s)
- googleworkspace_user

### Expected Behavior
Recovery email should be removed

### Actual Beha

[2022-02-11 16:08] gnuruzzi commented on #260
I have faced the same issue.
I tried both removing `recovery_email` attribute and setting it to empty string `""`.
With both of them, apply is successful, but it doesn't do anything. The old values stay there, and `terraform plan` still says it's going to delete them in the next apply!

[2022-02-11 22:13] megan07 commented on #259
Hi @dsiebel ! I'm sorry that you're running into this issue, I'd like to help out here as best I can. It seems to me it might be a scopes issue. So, the scopes that you grant to your service account needs to match, or be a superset, of the `oauth_scopes` granted to the provider. So, I see you listed all of those scopes out of desperation - but that may either be part of the issue, or hiding a diff

[2022-02-14 21:30] #260 closed

[2022-02-15 21:28] megan07 commented on #212
Hi @csimard01 @alvarorm22 , I wanted to follow up to see if you were still encountering this issue.

[2022-02-16 19:04] megan07 commented on #259
@dsiebel ahh! ok! Did you use the `--scopes` flag to specify the scopes when you logged in?
https://cloud.google.com/sdk/gcloud/reference/auth/application-default/login

I think you'll want to list the same scopes there. Let me know if that helps! Thanks!

[2022-02-17 07:40] dsiebel commented on #259
When I tried Google Login was telling me that the "App is blocked", so, naturally, I assumed that this was something I wasn't supposed to do.
Turns out we needed to trust the "Google Auth Library" / gcloud SDK to access all Google Services and I was able to expand the scopes on my ADC login.

Thanks a bunch @megan07 ! 🙂

[2022-02-17 07:50] #259 closed

[2022-02-18 15:17] megan07 commented on #259
Thanks for the extra information @dsiebel ! I'm happy it's working!

[2022-02-22 06:46] bismark commented on #213
I ran in to a similar issue with the 401. Once I applied all scopes to the API client, I received a 403 error stating I needed to enable the API:

Once I did that, I was able to reduce the API client scopes back down to just

[code]

[2022-02-23 11:27] dwilliams782 opened #263 "Error: timed out while waiting for group to be updated"
Hi,

We are running the latest provider, 0.6.0, and terraform 0.14.7.

One of our users has been experiencing time outs a lot when doing large applies recently.

Our latest PR is adding approx 60 users to an existing group, and we are hitting the configured timeouts:

[code]

We have the create and update timeouts configured to 5 minutes, but this is causing applies to fail after a long time. Typi

[2022-02-23 12:53] dwilliams782 commented on #263
Ok I have debug logs now. During the plan I can see a few oddities:

https://gist.github.com/dwilliams782/ac1d1d9d285f7a4656282b6084900604

And the apply:

https://gist.github.com/dwilliams782/020584420f5365336a579756a07d5301

You may need more of the logs, I've just taken the last few entries for the apply errors. It looks like the member objects are returning a 200 OK but the provider continues

[2022-02-23 13:30] gmile commented on #259
@dsiebel would you be so kind as to share how exactly you enable "trust" Google Auth Library / gcloud SDK?

I'm failing to generate application default credentials using `gcloud`. After running this, I am basically hitting an error when trying to consent to authorise the app in a browser:

[code]

...after attempting to consent in browser:

[2022-02-23 14:53] gmile opened #264 "Provider does not work with user credentials, again"
### Terraform Version

[code]

### Affected Resources

- `googleworkspace_group`

### Terraform Configuration Files

[code]

### Debug Output

...

### Panic Output

None.

### Expected Behavior

`googleworkspace_group` resource is imported.

### Actual Behavior

`googleworkspace_group` resource is not imported. A 403 error is returned.

### Steps to Reproduce

1. Make sure, the Google Auth Librar

[2022-02-24 17:25] paoll commented on #228
Hello,

I'm joining that issue as I have the exact same issue with the following use case: retrieving users belonging to set of groups, and extract their customSchema.

As stated in the documentation, `impersonate` is mandatory as Directory API is not opened to service Account.
So I do have a SA GCP side, with a domain wide delegation enabled, and almost all scopes possible authorized. I'm using a

[2022-02-26 19:15] pat-s opened #266 "`terraform import googleworkspace_user` needs clarification"
Reading the documentation of v0.6.0, I assumed I need to pass the "ID" shown in the URL when visiting a user profile.
However, this value is not accepted.
Using the primary email of a user succeeds but does not update the actual `terraform` block.
Anyhow, I think the example in https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs/resources/user#import should note that the

[2022-02-28 12:21] paoll commented on #228
Thank you so much @pat-s , I had a subset of scopes declared on TF side, but more scopes declared on Google side.
Works like a charm now !

[2022-03-02 21:07] dsiebel commented on #259
Did you manage to solve it with that?
I ran into some other issues but didn't have the time yet to further look into it.

[2022-03-02 21:16] dsiebel commented on #259
I found [this medium article](https://medium.com/google-cloud/google-oauth-credential-going-deeper-the-hard-way-f403cf3edf9d) researching the project number. I have been meaning to give it a try.

[2022-03-03 08:23] dsiebel commented on #259
I managed to get it working using service account impersonation all the way.
Using one `google` provider to get the access token and configure another `google` provider and the `googleworkspace` provider via `access_token` argument:
[code]
Important to note, that the access scopes need to match, as also mentioned in this issue.

[2022-03-07 10:22] gmile commented on #259
@dsiebel precisely, yes.

It appears that service account's access token is being part of Terraform state? I was looking for ways to specifically avoid storing any service account credentials as part of .tf state 🤔

For context, we are a small team, each of us runs terraform locally on our computers. Ideally, we don't want to infiltrate the .tf state with the access tokens that allow controlling u

[2022-03-12 17:44] notwedtm opened #270 "Custom Schemas are not populated when using `googleworkspace_users`."
When using the `googleworkspace_users` data resource as provided in the example, my users do not come back with `custom_schemas`. However, if I use a `googleworkspace_user` resource for a specific user, then the `custom_schemas` are populated.

Am I missing something?

### Terraform Version
Terraform v1.1.7

### Affected Resource(s)
Please list the resources as a list, for example:
- googleworkspa

[2022-03-17 08:33] gabor-farkas commented on #259
@gmile it's also possible to specify impersonation with an environment variable, https://cloud.google.com/blog/topics/developers-practitioners/using-google-cloud-service-account-impersonation-your-terraform-code - afaik that approach avoids storing tokens in the state.

(Otherwise, the Terraform state storage can be set up to be accessible only by people who have 'generateAccessToken' privileges a

[2022-03-17 15:41] feraudet opened #276 "New datasource googleworkspace_groups"
Hi there,

It would be very useful to have a datasource **googleworkspace_groups** to be able to list groups

### Could look as for **googleworkspace_users**
[code]

[2022-04-13 12:43] ghost opened #286 "user resource create consistency checks should backoff retry after 404 error received"
### Terraform Version

[I] ➜ ~ terraform -v
Terraform v1.1.8
on linux_amd64

### Affected Resource(s)
Please list the resources as a list, for example:
- user

### Terraform Configuration Files
No special configuration

### Debug Output
https://gist.github.com/cstadach-otto/a98e5710014b4d06973aaf686d467bae

### Expected Behavior
The user should have been created and marked consistent in the terraf

[2022-04-14 14:10] cstadach commented on #286
I merged my two github accounts.
The gist was apparently not transfered.
Here is the missing log...

https://gist.github.com/cstadach/6f5b95f44cd56be6a522b36026094701

[2022-04-15 00:56] kan-bayashi commented on #286
I have the same problem.

[2022-04-19 19:56] briananstett commented on #143
Being able to write to Google Sheets with Terraform would be really cool. My current use case is my organization would like to keep a living document of all sites we're currently hosting that is easilly accessible to other departments.

[2022-04-22 02:24] jshcmpbll commented on #228
This should be in the provider docs..

[2022-04-26 19:10] briananstett commented on #143
@megan07 just wondering if there's been any movement on this? Thanks for your help.

[2022-04-28 07:03] dsiebel commented on #259
Sorry, for the delay. My answers below.

No it is not. The access token is retrieved using a Terraform datasource. That is why the user interacting with the terraform state need to have `roles/iam.serviceAccountTokenCreator` on said service account.

EDIT: now that I wrote that I am suddently not sure whether the value of the data source will be persisted in the remote state (GCS) or not 🤔

[2022-05-02 19:00] gpdenny commented on #225
I have the same use case as @ari-becker.

The provisioning of users in our workspace is managed by a different team however we manage the attributes relating to SAML logins such as AWS.

This is currently handled by the (gsuite_user_attributes)
[https://registry.terraform.io/providers/DeviaVir/gsuite/latest/docs/resources/user_attributes] resource in the DeviaVir/gsuite provider.

[2022-05-03 08:46] dsiebel opened #295 "Feature Request: Support for GOOGLE_OAUTH_ACCESS_TOKEN env var"
The Terraform providers `google` and `google-beta` support setting the `access_token` provider attribute via the `GOOGLE_OAUTH_ACCESS_TOKEN` environment variable.

I did a quick code search but could not find any reference to the variable.
In the google provider the code for it looks like this:
[code]
Source: https://github.com/hashicorp/terraform-provider-google/blob/main/google/provider.go#L1379

[2022-05-03 21:25] Luis-3M commented on #286
We're facing the same issue.

[2022-05-05 22:28] guitcastro commented on #213
I had exactly the same issue, after adding all the 12 permissions it worked.

[2022-05-06 10:00] mwieczorek opened #299 "'General feedback' form from readme - no permissions to fill the form"
README.md has 'General feedback' section with a link to a form.
When I access the page, I see a message that I don't have permission to access the form, and the form is available only to users from form's owner org.

[2022-05-06 13:36] megan07 commented on #299
@mwieczorek - oh no, that's no good. sorry about that!
@tejavar, would you mind taking a look?
thanks for letting us know!

[2022-05-11 01:30] kan-bayashi commented on #286
@megan07 Any progress?

[2022-05-12 09:12] alepuccetti opened #304 "Error while creating users"
This issue started happening from the 20th April 2022. Before this error never occurred and the code I use did not changed.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

**Note**: the plans are executed on terraform cloud with the same version.

### Affec

[2022-05-12 13:47] kwasz-sysdogs commented on #304
Fighting with that since yesterday.

From debug output I can add:
- POST seems to work, user is created and API returns HTTP 200
- GET sends user_ID but fails with 404

[Headers during creation](https://gist.github.com/kwasz-sysdogs/4fe6474b18e251d49fd3e4f981b18a86l)

Another workaround is to:
 1. Create user without attaching any other resources
 2. ```terraform untaint 'google_workspace.user["yo

[2022-05-13 07:33] alepuccetti commented on #304
@kwasz-sysdogs with my approach you the user get fixed and after that you can re-run `terraform apply` and the other resources get created correctly. I follow this workflow:
1. Run the code that I know will fail.
2. Run the `state rm` and `import` step to fix the user.
3. Rerun `terraform apply`,

[2022-05-13 09:05] victuos commented on #304
Same problem here, workaround is indeed deleting and re importing the users.

But its really breaking our workflow! Any ideas on how this is happening?

[2022-05-16 11:31] damir-dezeljin commented on #286
I've bumped into same problem a few times already. As I never had time so far, I usually imported the created user into tfstate using:
[code]

Of course this is a dirty work-around I used for the time being. Now it got quite frustrating already, as my CI/CD pipeline is failing and I have to setup my `TF_VAR_...` every time and especially doing it manually.

I had an idea of using a shell provider

[2022-05-17 09:43] vkbytes commented on #286
I have the same problem with this resource creation. What the best way or a work around atleast to get things working in the CI tool
[code]

[2022-05-17 12:05] vkbytes commented on #286
Looks like there is an issue in the provider or the SDK has been updated for Google. This is breaking our onboarding functions immensely
[code]

[2022-05-18 19:07] jbfbell opened #307 "Member Already Exists"
We update a terraform enterprise workspace frequently, creating a service account and adding that new service account to a google group. This works fine but Frequently we see this error occur where the "member already exists" in the google group. Here is what seems to be happening from the timeline of events.

- The member gets added successfully
several commits go by without issue, and its never

[2022-05-19 11:21] victuos commented on #286
Same problem here, this broke our onboarding flow.

[2022-05-19 14:41] cstadach commented on #286
The check for the eventually consistent resources on create needed a 404 check.
What we did in our onboarding process is compile my branch and use it to create users.
@damir-dezeljins solution works as well but needed to muss manual activity for my taste ;)

[2022-05-21 13:25] enchorb opened #309 "Feature Request: Group Subject Prefix"
Does Google expose the subject prefix for a group in the `googleworkspace_group_settings` or `googleworkspace_group`, this is the only part of Workspace groups that we still have to do manually

[2022-05-21 16:31] enchorb commented on #266
+1, was stuck figuring this out for a bit

[2022-05-21 20:55] enchorb opened #310 "googleworkspace_org_unit 401 Error"
The resource `googleworkspace_org_unit` succesfully creates the new org unit in the Google Admin console but the Terraform always fails with `Error when reading or editing id:123456789: googleapi: Error 401: Login Required, required`

When running `apply` again it says the resource is tainted and must be recreated which throws the same error again.

[2022-05-25 18:20] SarahFrench commented on #228
Hi everyone- this issue appears to be resolved so I'm going to close it. @eelbrink if you still need any help please open a new issue!

I thought I'd post a summary of the underlying problem for anyone looking at this issue in future.

The issues described above appear to revolve around [this note in the documentation](https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs#:

[2022-05-25 18:34] jshcmpbll commented on #228
Thanks for looking into it further! I think the instructions around setting up access to those 12 scopes could be defined better in the documentation. I thought I had properly setup access for all the necessary scopes and still received this error which was quite frustrating. This was all for a throw away workspace and we were just validating the maturity of the provider so we were basically throw

[2022-05-26 22:59] JacquesLd commented on #286
Is there any estimates on when this will be fixed ?

[2022-05-27 14:47] SarahFrench commented on #228
Hi @jshcmpbll, I agree that the docs could use some more details about this and I hope to get an update out soon! And please do let us know if you have issues, or discover anything you think could be documented more clearly.

[2022-05-27 18:01] #276 closed

[2022-05-27 18:32] SarahFrench opened #316 "Acceptance test GitHub Action failing on Build step due to Go version"
# Description

The acceptance test GitHub action is failing on the Build step due to requiring a higher version of Go

<img width="1267" alt="Screenshot 2022-05-27 at 19 27 09" src="https://user-images.githubusercontent.com/15078782/170769765-c6a36538-8509-4f08-8b5d-efd9809e6074.png">

Version in use:

https://github.com/hashicorp/terraform-provider-googleworkspace/blob/5d5499da778336b24e9e3fbe903

[2022-05-27 18:41] SarahFrench commented on #316
The path mentioned should exist - the version being used in this repo is v0.9.0 and [https://github.com/hashicorp/terraform-plugin-go/blob/v0.9.0/internal/logging/protocol_data.go](https://github.com/hashicorp/terraform-plugin-go/blob/v0.9.0/internal/logging/protocol_data.go) does exist. Maybe bumping the Go version will help?

[2022-05-27 20:02] SarahFrench commented on #266
Thanks for posting your issue and solution here @pat-s - I've investigated this and it's definitely interesting how `user` and `group` behave differently.

For **users** I found out that the numerical ID shown in the current example in the docs, ie. :

[code]

is a unique ID that all Google accounts are assigned. They're not the same as the alphanumerical identifier shown in the URL of a user in G

[2022-05-30 11:49] SarahFrench commented on #309
Hi @enchorb, sadly subject prefix isn't managed by the Group Settings API, so this feature can't be added until that changes. [This page](https://developers.google.com/admin-sdk/groups-settings/manage#retrieving-settings-for-a-group) shows the fields that the API makes accessible.

I'd recommend going to these IssueTracker pages, where people are requesting this feature to be added to the API, and

[2022-05-31 15:15] megan07 commented on #286
Here is an open [PR](https://github.com/hashicorp/terraform-provider-googleworkspace/pull/287), we're waiting for one last, small change. We're balancing priorities across our team as best we're able and aim to merge this in the next two weeks. Thank you all for your patience!

[2022-05-31 16:01] megan07 commented on #299
@mwieczorek - I think this is fixed now! Would you please double-check, and if it is, we can close this issue. Thanks so much!

[2022-05-31 18:30] #299 closed

[2022-06-01 08:05] cstadach commented on #286
I fixed the PR, should be good to go now.

[2022-06-01 19:06] #286 closed

[2022-06-01 20:46] derek-burdick commented on #266
I just verified that running IMPORT using the primary_email works just fine. I would recommend the example show import using a username. If there are edge cases that require the numeric ID, then that could be added to the docs as a note.

[2022-06-06 16:20] #295 closed

[2022-06-06 18:13] adipapacica opened #323 "what's the plan for supporting secure ldap configuration thru official terraform google workspace provider?"
Hi there,

what's the plan for supporting secure ldap configuration thru official terraform google workspace provider?

[2022-06-08 07:05] jazzlyn commented on #263
Still an issue and a critical bug. Any updates on this?
Interrupting and reapplying manually is neither a solution nor a workaround.

[2022-06-08 14:17] megan07 commented on #323
Hi @adipapacica ! Thank you for your interest in this. Do you have links to more information around this? API docs would be great! Thanks!

[2022-06-08 18:38] megan07 commented on #310
note: this is an eventual consistency issue - the need is to do our consistency check for the org unit resource

[2022-06-08 18:44] #266 closed

[2022-06-08 20:08] megan07 commented on #263
@dwilliams782 Are the debug logs you provided a subset of the whole run?

This seems to be an eventual consistency issue, and we handle these as best we can. My suggestion is to increase the timeout. While I realize this could lead to long-running processes, it's the best we can do when trying to estimate the average time each resource (in a large sample of resources) will take.

I'd be happy to r

[2022-06-08 21:24] #310 closed

[2022-06-08 21:36] adipapacica commented on #323
Hi @megan07 would a link to Google Secure LDAP documentation be sufficient? https://support.google.com/cloudidentity/answer/9048516?hl=en

[2022-06-09 08:50] dwilliams782 commented on #263
Hi Mega, yes that is a subset, the entire log would be **huge**. This was a while ago now but we tried with timeouts up to 10 minutes.

Perhaps @jazzlyn can provide a more recent debug log as I haven't looked at this for a few months now.

[2022-06-09 15:00] megan07 commented on #323
@adipapacica This documentation will likely be helpful when we start, however, first and foremost we need this to be available in one of their Admin SDK APIs (I would imagine it would live in the [directory API](https://developers.google.com/admin-sdk/directory/reference/rest), but I don't see it there). I'm guessing its not exposed yet, but you could put in a request [here](https://developers.goo

[2022-06-12 00:02] enchorb commented on #309
@SarahFrench Thanks for finding that, I added a vote for it! Will close this out for now

[2022-06-12 00:02] #309 closed

[2022-06-13 08:09] dsiebel commented on #295
Thanks, @SarahFrench !

[2022-06-14 09:51] jazzlyn commented on #106
Hi, @joe-a-t in the meantime hashicorp provided an update guide in the provider documentation, see https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs/guides/upgrade_guide. It covers the changes that have to be done when switching providers.

@megan07 maybe it would be valuable to add to the guide that the resource type for group_member has to be defined (default: USER) i

[2022-06-14 20:48] joe-a-t commented on #106
Unfortunately that upgrade guide doesn't help at all with (or even document) the required adjustments to the Terraform state file, which is the actual issue for us given the scale of our usage.

[2022-06-15 11:53] jazzlyn commented on #106
@joe-a-t
Regarding state file. Since a migration with `terraform state replace-provider deviavir/gsuite hashicorp/googleworkspace` did not work because of resource type mismatches, I did a fresh import. See my steps below.

Prepare import:
* create state backup file
* create sh file
* run `terraform state list` and copy/paste output to sh file (I usually create a backup of the state list as well)

[2022-06-15 13:43] jazzlyn opened #331 "group-settings: error 400 if group settings' email value differs in capital/lower-case letters from group email"
Hi there,

### Terraform Version
Terraform v1.2.1
on linux_amd64
+ provider registry.terraform.io/hashicorp/googleworkspace v0.7.0

### Affected Resource(s)
- group-settings

### Configuration
Group configuration:
[code]

### Output
[code]

[2022-06-27 13:31] jazzlyn commented on #331
workaround

[code]

[2022-07-01 21:03] SarahFrench commented on #331
Hi @jazzlyn, thanks for raising this issue and showing a workaround for others who might have the same issue!

I've found that the underlying cause is that the 2 APIs used to manage Groups ([Directory API](https://developers.google.com/admin-sdk/directory/reference/rest/v1/groups)) and Group Settings ([Group Settings API](https://developers.google.com/admin-sdk/groups-settings/v1/reference/groups)

[2022-07-08 13:16] megan07 opened #341 "Keep services enabled in our infra files"
Make all the `google_project_service` resources `disable_on_destroy = true` in `gcp.tf`

We should probably pin provider versions too.

[2022-07-11 20:43] megan07 commented on #341
I think we'll need to add this too
[code]

[2022-07-20 14:56] Ulrar opened #346 "googleworkspace_gmail_send_as_alias returning unauthorized - official doc references an invalid scope"
Hi,

### Terraform Version
[code]

### Affected Resource(s)
- googleworkspace_gmail_send_as_alias

### Terraform Configuration Files
[code]

### Debug Output
This is the error when trying to import a resource :
[code]

### Expected Behavior
Import the resource

### Actual Behavior
See above 401 error

### Important Factoids
We're using a google service account for terraform, and I have granted it

[2022-08-01 08:50] jazzlyn opened #351 "Password required to be set on user creation"
Hi there,

### Terraform Version
Terraform v1.2.2
on linux_amd64
+ provider registry.terraform.io/hashicorp/google v3.66.1
+ provider registry.terraform.io/hashicorp/googleworkspace v0.7.0

### Affected Resource(s)
- googleworkspace_user

### Debug Output
[code]

### Expected Behavior
Regarding https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs/resources/user password sh

[2022-08-03 18:52] jazzlyn commented on #263
Hi guys,
Hi @megan07,

I have exact the same issues as @dwilliams782 and those issues can occur already with 1 resource, so I'm creating:
1 googleworkspace_group
1 googleworkspace_group_settings
1 googleworkspace_group_member
and randomly get timeouts up to 5m.

The first resource is already there but provider tries to add it continuously. After some time it succeedes or it timeouts at 5m.
I've ob

[2022-08-24 21:02] jshcmpbll commented on #351
This is the biggest issue my team has with using this provider. Ideally, the [recovery email](https://registry.terraform.io/providers/hashicorp/googleworkspace/latest/docs/resources/user#recovery_email) would be used to send out an invitation to the individual to finish setting up their account and this provider would not touch user passwords at all.

[2022-08-24 21:13] jshcmpbll commented on #264
I noticed some weird behavior with scopes. If youre still having issues with this maybe setup your provider to explicitly call out the oauth scope like so:
[code]

[2022-09-01 13:29] Maarc-D opened #360 "User aliases idempotency"
Hello,

user aliases are not idempotent

### Terraform Version
`Terraform v1.2.8`

### Affected Resource(s)
- user

### Terraform Configuration Files
[code]

### Expected Behavior
No change

### Actual Behavior
Want to change order of aliases
[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform plan -out maarc.tfplan`
2. `terraform apply

[2022-09-07 18:28] tgoodsell-tempus opened #362 "Feature Request: Set service_account option with env var"
I'd like the ability to set the `service_account` provider configuration with an ENV var, since we're able to set the corresponding `access_token` option with an ENV var as well.

### Terraform Version
 N/A

### Affected Resource(s)

Provider Config

### Terraform Configuration Files
[code]

Replaces the need to do the above.

[2022-09-09 15:26] willtoth opened #366 "Allow using schema_id instead of schema_name for googleworkspace_schema"
### Terraform Version
Terraform v1.2.9
on linux_amd64
+ provider registry.terraform.io/hashicorp/googleworkspace v0.7.0
+ provider registry.terraform.io/paultyng/gsuite v0.2.2

### Affected Resource(s)
- googleworkspace_user
- googleworkspace_schema

### Terraform Configuration Files
[code]

### Expected Behavior
After the schemas are configured correctly, they should not be modified on subsequent

[2022-09-13 14:44] dieu-bis opened #367 "Google group settings timeout"
Hi, i have an issue with the tf ressource googleworkspace_group_settings, it generate a timeout after 5 min

https://gist.github.com/got-hubt/5ce2675ac9bf53fe78008ac149d580be

Terraform version: 1.2.9
Google Workspace provider: 0.7.0

[2022-09-13 15:00] #367 closed, assigned to nobody

[2022-09-16 13:06] tomislater commented on #225
Hey, yeah. We have the same problem. Users are created by someone else, but we don't want to manage them manually.

[2022-09-16 15:20] tomislater commented on #225
Looks that it is related to https://github.com/hashicorp/terraform-provider-googleworkspace/pull/183 ?

[2022-09-28 19:54] damir-dezeljin opened #373 "Setting user's job title fails with 403 error"
I'm using the Google workspace Terraform provider for a while now. All 100+ Workspace users in my organization were provisioned with Terraform.

Now I'd like setting the _job title_ for every user, so it would appear in the popup when hovering the user's icon in Google Chat. For this I'm trying to define the `title` property of a primary `organization` node in the `googleworkspace_user`. The chang

[2022-09-30 15:54] awolde opened #374 "CREDENTIALS_MISSING error with service account"
Hi there,

I am having difficulties authenticating using this provider. It looks like the only means I can auth is using `access_token`. I tried using `export GOOGLEWORKSPACE_CREDENTIALS=key.json` or even setting the credentials file directly on the provider block like shown below.

### Terraform Version
Terraform v1.1.6.

### Affected Resource(s)
Provider issue

### Terraform Configuration Files

[2022-10-01 01:46] stm9443 commented on #374
I am able to use the provider with a GCP service account file.  I had to reference the service account file as an absolute path in the credentials field of the provider block.  If I provided a relative path to the credential file I would get an error for an unexpected format or something like that.  You might try that and see if it works.

[2022-10-01 02:01] stm9443 commented on #264
I had to add the "impersonate_user_email" to my provider configuration to import groups or I would receive a 403 error.  The "impersonate_user_email" field in the provider documentation states that it is not required for the group API.  I am not sure if this is a bug or missing in the documentation.

[2022-10-01 04:16] awolde commented on #374
Having only the customer id in the provider worked
[code]

And then `export GOOGLEWORKSPACE_CREDENTIALS=key.json`

[2022-10-02 21:19] WTPOptAxe opened #375 "How to authenticate for import with Backend Remote"
### Terraform Version
1.3.0

### Affected Resource(s)
Authentication when running local imports

Remote applies for new resources succeed, but local imports fail.

### Terraform Configuration Files
[code]

### Expected Behavior
What should have happened?

Terraform import should succeed with
`tf import googleworkspace_domain.mydomain_com mydomain.com`

### Actual Behavior
[code]

### Important Fac

[2022-10-04 15:09] thevino97 commented on #351
Hi this is something i have been looking for, when will this be publicly released. Also will we be able to sent an invitation email to the recovery email to invite a new user to the workspace ?

[2022-10-05 11:02] ivorsmorenburg commented on #351
Very annoying to have to create a "temporal" password to create and invite a new member to the organisation, feels like this
 it's a missing feature or bug for using "**googleworkspace_user**".

This its very important feature if we like to use the CasC using this terraform provider.

Can we prioritise this and make another release ASAP?

I think I speak for everyone, this is a blocker!

[2022-10-17 09:48] Maarc-D commented on #351
You can add a thumb up to my PR if you want ;) maybe like this it will be take into account ;)

https://github.com/hashicorp/terraform-provider-googleworkspace/pull/359

[2022-10-21 16:00] zhilyaev commented on #373
the same...

[2022-10-25 14:53] Mearman commented on #360
I'm glad this isn't just me.
I have not tested but I assume the issue also exists for group aliases.
At the moment, I'm providing the aliases to the resource after lowering, compacting, and then sorting the array.
I think doing the same to the aliases array at input, diff and output would be the most expected and predictable result.

[2022-10-28 11:55] via-justa opened #383 "data.googleworkspace_user 403: Not Authorized when collecting custom schema information"
### Terraform Version
[code]

### Affected Resource(s)
- `data.googleworkspace_user`

### Terraform Configuration Files
[code]

### Expected Behavior
User is returned with custom schema

### Actual Behavior
The service account have both scopes set.
Call to retrieve user works
Call to retrieve custom scheme fails with `googleapi: Error 403: Not Authorized to access this resource/api, forbidden`
[co

[2022-10-28 13:39] via-justa commented on #383
was missing `impersonated_user_email`

[2022-10-28 13:39] #383 closed

[2022-11-04 09:30] ivorsmorenburg commented on #351
So we not going to fix this then right?

[2022-11-09 19:40] xens commented on #263
Facing the same issue, is there something I could provide to help?

[2022-11-09 21:11] xens opened #387 "Error: timed out while waiting for user to be inserted"
Hi there,

I'm hitting a random but very frequent issue when creating Google Workspace users. The user creation process takes usually a lot of time (5 minutes per user) and most of the time it times out.

### Terraform Version
[code]

### Affected Resource(s)
- googleworkspace_user

### Terraform Configuration Files
[code]

### Expected Behavior
User should be properly created.

### Actual Behavio

[2022-11-09 21:40] xens commented on #387
I'll need to sanitize a bit my TF_LOG before uploading it but I've been able to dig a bit more into this issue already and looks like its linked to the resource `consistencyCheck` not being met.

According to [this file](https://github.com/hashicorp/terraform-provider-googleworkspace/blob/main/internal/provider/eventual_consistency.go#L8), the number of consistent responses from the Google Workspa

[2022-11-09 21:42] xens commented on #387
Wondering if it could be linked to https://github.com/hashicorp/terraform-provider-googleworkspace/issues/263

[2022-11-10 11:27] xens commented on #387
I did some more tests today and it looks like that Google APIs are returning more consistent etags this morning and thus the creation process succeeds more frequently

[code]

and of course I can still correlate the creation successes with a series of consistent etags corresponding to the resource.

[code]

So at this point I'm wondering if 4 consecutive etags are not too conservative for this kin

[2022-11-11 13:33] xens commented on #387
Ok problem is back today with the inconsistent etags :sweat_smile:, for now I've edited the [consistencyCheck](https://github.com/hashicorp/terraform-provider-googleworkspace/blob/main/internal/provider/eventual_consistency.go#L8) and compiled + deployed manually the provider following [this document](https://github.com/hashicorp/terraform-provider-googleworkspace/blob/main/.github/CONTRIBUTING.md

[2022-11-17 18:59] rnikoopour opened #389 "Inconsistent Behavior During Applies"
### Terraform Version
[code]

### Affected Resource(s)
- googleworkspace_group
- googleworkspace_group_members

### Terraform Configuration Files
[code]

### Debug Output
<TBD: Will update in the future>

### Panic Output
N/A

### Expected Behavior
Running apply multiple times with the same inputs should run to completion without any issues

### Actual Behavior
The provider repeatedly fails at ran